@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PT Sans Regular"), url("../../assets/fonts/ptsans.woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans"), local("PT Sans Bold"), url("../../assets/fonts/ptsansb.woff");
}