/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Thin.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Thin.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: normal; }
/* END Thin */

/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Light.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Light.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: normal; }
/* END Light */

/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Regular.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: normal; }
/* END Regular */

/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Italic.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Italic.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Italic.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Italic.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: italic; }
/* END Italic */

/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Bold.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: normal; }
/* END Bold */


/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto-Black.woff2?v=2.137") format("woff2"), url("../assets/fonts/Roboto-Black.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: normal; }
/* END Black */