@import "../fonts/ptsans.css";

:root {
  font-family: "PT Sans", sans-serif;
}
a { text-decoration: none }
::scrollbar { width: 10px }
::-webkit-scrollbar { width: 10px }
::-moz-scrollbar { width: 10px }
::-webkit-input-placeholder{ font-family: "PT Sans", sans-serif; }
::-ms-input-placeholder{ font-family: "PT Sans", sans-serif; }
:-ms-input-placeholder{ font-family: "PT Sans", sans-serif; }
::-moz-placeholder{ font-family: "PT Sans", sans-serif; }
:-moz-placeholder{ font-family: "PT Sans", sans-serif; }
::placeholder{ font-family: "PT Sans", sans-serif; }
textarea::-webkit-input-placeholder{ line-height: 1.2em; }
textarea::-ms-input-placeholder{ line-height: 1.2em; }
textarea:-ms-input-placeholder{ line-height: 1.2em; }
textarea::-moz-placeholder{ line-height: 1.2em; }
textarea:-moz-placeholder{ line-height: 1.2em; }
textarea::placeholder{ line-height: 1.2em; }
#threads hr { margin: 1em 0 .5em }

.actions {
  letter-spacing: -0.3em;
}
.actions * {
  letter-spacing: normal;
}
.actions .button {
  display: inline-block;
  outline: none;
  background: none;
  border: none;
  padding: 10px;
  font-size: inherit;
  cursor: pointer;
}
.actions .button.primary {
  padding: 10px 25px;
}
.pagination {
  float: right;
}
aside {
  position: fixed;
}
aside a:hover,
aside a:focus,
aside a.selected {
  z-index: 1;
}
aside a span.new {
  padding-left: 4px;
}
aside select {
  background: none;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 8px;
}
span.board-name {
  padding-left: 4px;
}
.radio-menu .tab {
  display: inline-block;
}
.post-text-wrapper {
  padding: 12px;
}
blockquote {
  margin: 0;
}

/* Postform */
/*.post-form input,
.post-form textarea,
.post-form button {
  font-family: "PT Sans", sans-serif;
}*/

footer {
  width: 100%;
  text-align: center;
}
footer > div { width: 100% }
footer .float-l, footer .float-r {
  opacity: .54;
}
footer .float-l:hover,
footer .float-r:hover,
footer .float-l:hover,
footer .float-r:focus {
  opacity: 1;
}
