<!DOCTYPE html>
<html lang='{{!it.site.locale}}'>
{{#def['partials/head']}}
<body>
  <a id='top'></a>
  <main>
    {{#def['custom/content/0'] || ''}}
    <div>
      <h1>
        {{!it.translate('Archive of', 'archiveOfText')}}
        <a href='/{{!it.site.pathPrefix}}{{!it.board.name}}/'>{{!it.board.title}}</a>
      </h1>
    </div>
    <hr>
    <div id='threads' class='archival-threads'>
      {{? !it.threads.length}}
      <h2 class="disabled">{{!it.translate('Still nothing here!', 'noArchivePostsText')}}</h2>
      {{??}}
        {{~it.threads :thread}}
        <div class='archival-thread-link-container'>
          [<span class='js-date-time'
                 data-date-time='{{!thread.updatedAt}}'>{{!it.formattedDate(thread.updatedAt)}}</span>]
          <a href='/{{!it.site.pathPrefix}}{{!it.board.name}}/res/{{!thread.number}}.html'
             target='_blank'>&gt;&gt;{{!thread.number}}</a>
          {{? thread.title}} [{{!thread.title}}]{{?}}
        </div>
        {{~}}
      {{?}}
    </div>
    {{#def['partials/footer']}}
  </main>
  <a id='bottom'></a>
  {{#def['partials/sidebar']}}
  {{#def['partials/nav']}}
</body>
</html>
