<!DOCTYPE html>
<html>
	{{#def["particles/head"]}}
	<body>
		{{#def["particles/navigation"]}}
		<a name="top"></a>
		<main>
			<header>
				<a id="banner" href="{{=it.site.url.pathname}}{{!it.board.name}}/">
					/{{!it.board.name}}/ — {{!it.board.title}}
				</a>
			</header>
			{{? !it.threads.length}}
				<div class="noThreads">Здесь никого, кроме нас, цыплят!</div>
			{{?? }}
				{{~it.threads :thread}}
					<div class="thread">
						{{~[thread.posts.shift()] :post}}
							{{#def['particles/post']}}
						{{~ }}

						{{? thread.omittedPosts}}
							<div class="omittedPosts">Пропущено постов: {{!thread.omittedPosts}}</div>
						{{? }}

						{{~thread.posts :post}}
							{{#def['particles/post']}}
						{{~ }}
					</div>
				{{~ }}
			{{? }}
		</main>
		<a name="bottom"></a>

		{{#def['particles/replyForm']}}
		{{#def["particles/widgets"]}}
		{{#def["particles/notifications"]}}
	</body>
</html>
