<!DOCTYPE html>
<html>
	{{#def["particles/head"]}}
	<body>
		{{#def["particles/navigation"]}}
		<main>
			<link rel="stylesheet" href="/css/error.css">
			<a name="top"></a>
			<header>
				<a id="title" href="/">
					<h2>{{!it.error}}</h2>
					<h4>{{!it.message}}</h4>
				</a>

				{{?it.stack}}
					<pre>{{=it.stack}}</pre>
				{{?}}

				<div class="noThreads" id="banner">
					<img src="/static/err.png">
				</div>
			</header>
		</main>
		{{#def["particles/widgets"]}}
		{{#def["particles/notifications"]}}
	</body>
</html>
