<!DOCTYPE html>
<html>
	{{#def["particles/head"]}}
	<link rel="stylesheet" href="/css/error.css">
	<body>
		{{#def["particles/navigation"]}}
		<main>
			<header>
				<a id="title" href="/">
					<h2>{{!it.name}} {{!it.message}}</h2>
				</a>

				{{?it.stack}}
					<pre>{{=it.stack}}</pre>
				{{?}}

				<div id="banner">
					<img src="/static/err.png">
				</div>
			</header>
		</main>
		{{#def["particles/widgets"]}}
		{{#def["particles/notifications"]}}
	</body>
</html>
