<!DOCTYPE html>
<html>
	{{#def["particles/head"]}}
	<body>
		{{#def["particles/navigation"]}}
		<main>
			<header>
				<div>{{!it.errorCode}}</div>
				<div>{{!it.errorDescription}}</div>
			</header>
		</main>
		{{#def["particles/widgets"]}}
	</body>
</html>
