<!DOCTYPE html>
<html>
	{{#def["particles/head"]}}
	<body>
		{{#def["particles/navigation"]}}
		<main>
			<a name="top"></a>
			<header>
				<!-- <img id="banner"> -->

				<a id="title" href="{{=it.site.url.pathname}}{{!it.board.name}}/">
					<h2>Лента постов /{{!it.board.name}}/</h2>
					<h4>{{!it.board.subtitle}}</h4>
				</a>
			</header>
			{{? !it.feed.length}}
				<div class="noThreads">Здесь никого, кроме нас, цыплят!</div>
			{{?? }}
				<div class="feed thread">
					{{~it.feed :post}}
						{{#def['particles/post']}}
					{{~ }}
				</div>
			{{? }}
			{{#def["particles/pagination"]}}
			<a name="bottom"></a>
		</main>

		{{#def['particles/replyForm']}}
		{{#def["particles/widgets"]}}
		{{#def["particles/notifications"]}}
	</body>
</html>
