<!DOCTYPE html>
<html lang='{{!it.site.locale}}'>
{{#def['partials/head']}}
<body>
{{#def['partials/sidebar']}}
<main>
  <div>
    <h1>{{!it.title}}</h1>
  </div>
  <hr>
  <div>
    <h2 class="disabled">Not found!</h2>
  </div>
  {{#def['partials/footer']}}
</main>
</body>
</html>