<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0">

		<link rel='shortcut icon' href='/{{! it.site.pathPrefix }}static/favicon.ico'>
		<link rel="stylesheet" id="mainStylesheet" href="/{{! it.site.pathPrefix }}css/master.css">
		<meta http-equiv="refresh" content="{{! it.refresh }}; ?i={{! it.boardName }}/{{! it.postNumber }}&r={{! it.refresh }}">

		<title>{{! it.title }}</title>
	</head>
	<body>
		<header>
			Телепортируем к посту /{{! it.boardName }}/{{! it.postNumber }}...
			<br/>
			<small>Это может занять у вас некий пространственно-временной период, просто примите это.</small>
		</header>
	</body>
</html>
