<!DOCTYPE html>
<html lang="ru">
	{{#def["particles/head"]}}
	<meta http-equiv="refresh" content="{{! it.refresh }}; ?i={{! it.boardName }}/{{! it.postNumber }}&r={{! it.refresh }}">

	<header>
		Телепортируем к посту /{{! it.boardName }}/{{! it.postNumber }}...
		<br/>
		<small>Это может занять у вас некий пространственно-временной период, просто примите это.</small>
	</header>
</html>
