<!DOCTYPE html>
<html>
	{{#def["particles/head"]}}
	<body>
		{{#def["particles/navigation"]}}
		<a name="top"></a>
		<main>
			<header>
				<a id="banner" href="/{{!it.site.pathPrefix}}{{!it.board.name}}/">
					/{{!it.board.name}}/ — {{!it.board.title}}
				</a>
			</header>
			<div class="thread">
				{{~it.thread.posts :post}}
					{{#def['particles/post']}}
				{{~ }}
			</div>
		</main>
		<a name="bottom"></a>

		{{#def['particles/replyForm']}}
		{{#def["particles/widgets"]}}
	</body>
</html>
