<!DOCTYPE html>
<html>
{{#def["partials/head"]}}
<body data-theme="tumbach">
{{#def["partials/sidebar"]}}
{{#def["partials/topbar"]}}
<div id="mainColumn">
  <header>
    <a id="banner" href="/{{!it.site.pathPrefix}}{{!it.board.name}}/">
      {{? it.thread.posts[0].subject}}
        {{!it.thread.posts[0].subject}}
      {{??}}
        /{{!it.board.name}}/ &mdash; {{!it.thread.id}}
      {{?}}
    </a>
    {{#def["partials/replyForm"]}}
  </header>
  {{~[it.thread] :thread}}
    <div id="threadFlow">
      <div class="thread">
        {{~thread.posts :post}}
          {{#def['partials/post']}}
        {{~}}
      </div>
    </div>
  {{~}}
</div>
<!--<div id="rightTopCorner">
  <a href="#">Галерея</a>
  <a href="/{{!it.site.pathPrefix}}{{!it.board.name}}/catalog.html">Каталог</a>
  <a href="#">Архив</a>
</div>-->
{{#def["partials/widgets"]}}
</body>
</html>
