<!DOCTYPE html>
<html>
	{{#def["particles/head"]}}
	<body>
		{{#def["particles/navigation"]}}
		<main>
			<a name="top"></a>
			<header>
				<!-- <img id="banner"> -->

				<a id="title" href="{{=it.site.url.pathname}}{{!it.board.name}}/">
					<h2>{{!it.title}}</h2>
					<h4>/{{!it.board.name}}/ — {{!it.board.title}}</h4>
				</a>
			</header>
			<div class="thread">
				{{ let thread = it.thread; }}
				{{~thread.posts :post}}
					{{#def['particles/post']}}
				{{~ }}
			</div>
			<a name="bottom"></a>
		</main>

		{{#def['particles/replyForm']}}
		{{#def["particles/widgets"]}}
		{{#def["particles/notifications"]}}
	</body>
</html>
