@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

:root{
	--gap: 1vmin;
}

@mixin user-select($value){
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
}

*{
	box-sizing: border-box;
}

body{
	background-color: var(--bgcolor);

	flex-direction: column;
	overflow-y: scroll;
	min-height: 100vh;
	display: flex;
	margin: 0;

	font-family: 'Noto Sans', sans-serif;
	color: var(--textcolor);

	.hidden{
		display: none;
	}
}

header{
	@include user-select(none);
	text-align: center;

	#banner {
		color: var(--textcolor);

		font-weight: bold;
		line-height: 2em;
		font-size: 1.3em;
	}

	a:not(#banner){
		color: var(--textcolor_secondary) !important;
		margin: 0 .5em;
	}
}

// Links
a, .pseudoLink, .tabs label{
	color: var(--linkcolor);
}

a{
	text-decoration: none;

	&:focus{
		outline: none;
	}
}

main{
	background-color: var(--bgcolor_card);
	box-shadow: var(--boxShadow);

	flex-direction: column;
	display: flex;
	z-index: 500;

	margin-left: var(--sidebarWidth);

	transition: margin .3s;
}

// Buttons
.btn{
	justify-content: center;
	align-items: center;
	display: flex;

	box-shadow: var(--boxShadow);

	padding: 5px;
	color: var(--textcolor) !important;
	transition: background-color .3s;
	background-color: var(--btncolor);
	/*border: 1px solid var(--bordercolor);*/
	border: none;

	@include user-select(none);
}

[type="checkbox"]:checked + .btn{
	background-color: var(--btncolor_hover);
}

.row, .column{
	display: flex;
}

.row{
	justify-content: space-between;
}

.column{
	flex-direction: column;
}

.visibleCheckbox{
	display: none;

	& + label{
		@include user-select(none);
	}

	& + label::before{
		font-family: 'Material Icons';
		content: 'check_box_outline_blank';

		vertical-align: middle;
		margin-right: 3px;
	}

	&:checked + label::before{
		content: 'check_box';
	}
}

input:not([type=file]), textarea{
	background: var(--bgcolor);
	color: var(--textcolor);

	border: none;

	// Фикс для Фаерфокса, который убирает плейсхолдер
	// при фокусировке на поле ввода
	&:focus::-moz-placeholder {
		color: transparent !important
	}
}

// Центрированный текст в текстовых полях
input:not([type=file]){
	text-align: center;
}

button, input, textarea{
	outline: none !important;
}

.tabs{
	@include user-select(none);

	label{
		padding: 5px 10px;
		background-color: var(--bgcolor_card);
	}

	& ~ [type="radio"] + div {
		display: none;
	}

	& ~ [type="radio"]:checked + div {
		display: flex;
	}
}

// Markup
span.quotation{
	color: var(--quotationcolor);
}
