:root{
	--gap: 0.50rem;

	--deletionIconsDisplay: none;
}

@mixin user-select($value){
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
}

*{
	box-sizing: border-box;
}

[hidden]{
	display: none !important;
}

body{
	background-color: var(--backgroundColor);

	flex-direction: column;
	display: flex;
	margin: 0;

	font-family: "Noto Sans", "Lucida Grande", "Roboto", "Helvetica Neue", Arial, sans-serif;
	color: var(--primaryTextColor);

	align-items: center;
}

// Links
a, .pseudoLink, .tabs label{
	color: var(--linkOverColor);
	transition: color var(--animationDuration);
}

a{
	text-decoration: none;

	&:focus{
		outline: none;
	}
}

// Buttons
.btn{
	justify-content: center;
	align-items: center;
	display: flex;

	box-shadow: var(--boxShadow);

	padding: 5px;
	color: var(--primaryTextColor) !important;
	transition: background-color var(--animationDuration);
	background-color: var(--buttonOverColor);
	border-radius: var(--borderRadius);

	@include user-select(none);
}

input:not([type=file]), textarea{
	background: var(--backgroundColor);
	color: var(--primaryTextColor);

	border: none;

	// Фикс для Фаерфокса, который убирает плейсхолдер
	// при фокусировке на поле ввода
	&:focus::-moz-placeholder {
		color: transparent !important
	}
}

// Центрированный текст в текстовых полях
input:not([type=file]){
	text-align: center;
}

button, input, textarea{
	outline: none !important;
}

.jumpToPost{
	position: absolute;
	right: 0;
}
