@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

:root{
	--gap: 1vmin;

	--deletionIconsDisplay: none;
}

@mixin user-select($value){
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
}

*{
	box-sizing: border-box;
}

body{
	background-color: var(--backgroundColor);

	flex-direction: column;
	display: flex;
	margin: 0;

	font-family: 'Noto Sans', sans-serif;
	color: var(--primaryTextColor);
}

header{
	background-color: var(--primaryCardColor);
	@include user-select(none);
	padding: 0 var(--gap);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 0 var(--borderRadius) var(--borderRadius);

	#title{
		display: block;
		padding: 1em 0;

		& > *{
			margin: 0;
		}

		h2{
			color: var(--primaryTextColor);
		}

		h4{
			font-weight: normal;
		}
	}
}

// Links
a, .pseudoLink, .tabs label{
	color: var(--linkOverColor);
	transition: color var(--animationDuration);
}

a{
	text-decoration: none;

	&:focus{
		outline: none;
	}
}

main{
	background-color: var(--backgroundColor);
	margin-left: var(--sidebarWidth);
	box-shadow: var(--boxShadow);

	flex-direction: column;
	display: flex;
	z-index: 500;

	min-height: 100vh;
}

// Buttons
.btn, button{
	justify-content: center;
	align-items: center;
	display: flex;

	box-shadow: var(--boxShadow);

	padding: 5px;
	color: var(--primaryTextColor) !important;
	transition: background-color var(--animationDuration);
	background-color: var(--buttonOverColor);
	/*border: 1px solid var(--borderColor);*/
	border: none;
	border-radius: var(--borderRadius);

	@include user-select(none);
}

[type="checkbox"]:checked + .btn{
	background-color: var(--buttonHoverColor);
}

.visibleCheckbox{
	display: none;

	& + label{
		@include user-select(none);
	}

	& + label::before{
		font-family: 'Material Icons';
		content: 'check_box_outline_blank';

		vertical-align: middle;
		margin-right: 3px;
	}

	&:checked + label::before{
		content: 'check_box';
	}
}

input:not([type=file]), textarea{
	background: var(--backgroundColor);
	color: var(--primaryTextColor);

	border: none;

	// Фикс для Фаерфокса, который убирает плейсхолдер
	// при фокусировке на поле ввода
	&:focus::-moz-placeholder {
		color: transparent !important
	}
}

// Центрированный текст в текстовых полях
input:not([type=file]){
	text-align: center;
}

button, input, textarea{
	outline: none !important;
}

.jumpToPost{
	position: absolute;
	right: 0;
}

.noJs{
	display: none;
}