:root{
	--primaryTextColor: #a8afbc;
	--secondaryTextColor: #888f9c;

	--linkOverColor: #5facec;
	--linkHoverColor: #47769d;

	--buttonOverColor: #282c34;
	--buttonHoverColor: #2e323a;

	--backgroundColor: #21252b;
	--primaryCardColor: #282c34;
	--secondaryCardColor: #2F333B;

	--borderColor: #181a1f;
	--borderRadius: .3rem;

	--quotationColor: #98c379;
}