:root{
	--primaryTextColor: #bbc;
	--secondaryTextColor: #99a;

	--linkOverColor: #40c0f3;
	--linkHoverColor: #108fbf;

	--buttonOverColor: #252931;
	--buttonHoverColor: #292d35;

	--backgroundColor: #21252b;
	--primaryCardColor: #252931;
	--secondaryCardColor: #292d35;

	--borderColor: #181a1f;
	--borderRadius: .3rem;

	--quotationColor: #98c379;
}
