:root{
	--textcolor: #a8afbc;
	--textcolor_secondary: #a8afbc;

	--linkcolor: #5facec;
	--linkcolor_hover: #47769d;

	--btncolor: #282c34;
	--btncolor_hover: #2e323a;

	--bgcolor: #21252b;
	--bgcolor_card: #282c34;
	--bgcolor_postform: #282c34;

	--bordercolor: #181a1f;

	--quotationcolor: #98c379;
}
