.postDetails{
	font-size: .9em;
	cursor: default;

	.material-icons{
		cursor: pointer;
	}

	input[id|="delete"], input[id|="star"]{
		&:hover + label{
			opacity: .6;
		}
	}
}

.postAttachments{
	margin-right: 5px;
	flex-direction: column;

	& > *{
		margin-bottom: 2px;
	}

	.info, .dlLink{
		flex-direction: column;
		transition: color var(--animationDuration);
	}

	.info{
		justify-content: center;
		align-items: center;
		display: flex;

		right: 0;

		span{
			pointer-events: none;
		}
	}

	.dlLink{
		position: absolute;
		padding: 5px 0;
		bottom: 0;
		left: 0;

		color: transparent;
		text-align: center;
		width: 100%;

		&:hover{
			text-decoration: underline;
		}
	}

	.thumb{
		margin: calc(var(--gap) / 2) 0;

		img, .noPreview{
			transition: opacity var(--animationDuration);
		}

		&:hover{
			.info, .dlLink{
				color: inherit;
			}

			img, .noPreview{
				opacity: .1
			}
		}
	}

	.noPreview{
		height: 200px;
		width: 200px;
}

	a.unpreviewable{
		width: 200px;

		div{
			color: var(--textcolor);
			font-size: .8em
		}
	}
}

.omittedPosts{
	margin-left: calc(var(--gap) * 2);
}

.postBody{
	display: flex;
}

.post:not(:first-child):not(.widgetContent){
	margin-left: calc(var(--gap) * 2);
	padding: calc(var(--gap) / 2) var(--gap);
}
