.postDetails{
	font-size: .9em;
	cursor: default;

	.material-icons{
		cursor: pointer;
	}

	input[id|="delete"], input[id|="star"]{
		&:hover + label{
			opacity: .6;
		}
	}
}

.postAttachments{
	margin-right: 5px;
	flex-direction: column;
	@include user-select(none);

	& > *{
		margin-bottom: 2px;
	}

	.unpreviewable{
		font-size: .9rem;
		width: 13em;

		&:not(:first-child){
			margin-top: 1em;
		}
	}

	.attachment{
		*{
			transition: opacity var(--animationDuration);
		}

		.thumb{
			max-height: 13em;
			max-width: 13em;
		}

		.info{	
			pointer-events: none;
			opacity: 0;

			.dlLink{
				color: inherit;
			}

			margin-top: -1.5rem;
			padding: .1rem;
			height: 1.5rem;
		}
	}

	.attachment:hover{
		.info{
			opacity: .8;

			.dlLink{
				pointer-events: auto;
			}
		}
	}
}

.omittedPosts{
	margin-left: calc(var(--gap) * 2);
}

.postBody{
	display: flex;
}

.post:not(:first-child):not(.widgetContent){
	margin-left: calc(var(--gap) * 2);
	padding: calc(var(--gap) / 2) var(--gap);
}

.postLink{
	position: relative;

	&:not(:hover) .post{
		display: none;
	}

	&:hover .post{
		position: absolute;
		z-index: 999;
		left: 1em;
		top: 1em;

		background-color: var(--btncolor);
		border: 1px solid var(--bgcolor);
		color: var(--textcolor);
		width: 50vw;
	}
}