.thread {
	padding: 0 var(--gap);

	&:not(:nth-last-child(2)){
		margin-bottom: var(--gap);
	}

	> *:not(:first-child){
		margin-left: var(--gap);
	}
}

.postDetails{
	font-size: .9em;
	cursor: default;

	.material-icons{
		cursor: pointer;
	}

	input[id|="delete"], input[id|="star"]{
		&:hover + label{
			opacity: .6;
		}
	}

	time{
		right: 0
	}
}

.omittedPosts{
	font-size: .9em;
}

.postLink{
	position: relative;

	&:not(:hover) .post{
		display: none;
	}

	&:hover .post{
		padding: calc(var(--gap)/ 2) var(--gap);
		position: absolute;
		z-index: 999;
		left: 1em;
		top: 1em;

		background-color: var(--btncolor);
		border: 1px solid var(--bgcolor);
		color: var(--textcolor);
		width: 50vw;
	}
}

.thumbnails{
	& > div > a{
		max-height: 15em;
		max-width: 15em;

		transition: opacity var(--animationDuration);
	}

	.info{
		font-size: 1rem;
		opacity: 0;
	}

	& > div:hover{
		.info{
			opacity: .8;
		}
	}
}

.attachments a{
	margin: .2em 0;
}

#hideImagesCheckbox:checked ~ main .thumbnails > div > a:not(:hover){
	opacity: .3;
}