body{
	font-size: 1.7vmin;
}

main{
	margin-right: calc(3.5rem + 2 * var(--gap));
	transition: margin var(--animationDuration);
	padding-bottom: var(--gap);
}

.mobileOnly{
	display: none;
}

button, .btn{
	&:hover{
		cursor: default;
		background-color: var(--buttonHoverColor);
	}
}

header{
	cursor: default;
}

a, .pseudoLink{
	cursor: pointer;
}

a:hover{
	color: var(--linkHoverColor)
}
