.widgetBox{
	min-width: 30vw;
	min-height: 50vh;

	border-radius: var(--borderRadius);
}

#settings{
	@include user-select(none);

	.tabs{
		display: flex;

		span{
			border-radius: var(--borderRadius) var(--borderRadius) 0 0;
			padding: calc(var(--gap) / 2) var(--gap);
			text-align: center;
			width: 100%;

			&:not(.active){
				background-color: var(--primaryCardColor);
				cursor: pointer;
			}
		}
	}

	[data-tab]{
		border-radius: 0 0 var(--borderRadius) var(--borderRadius);
		background-color: var(--backgroundColor);
		padding: var(--gap);

		> div{
			justify-content: space-between;
			align-items: center;
			display: flex;


			// margin-left: var(--gap);
		}
	}

	input[type="text"], input[type="password"]{
		background-color: var(--secondaryCardColor);
		margin-left: var(--gap);
		width: 10em;
	}

	[type="checkbox"]{
		-webkit-appearance: none;
		-moz-appearance: none;

		background-color: var(--secondaryCardColor);
		border-radius: .5em;
		cursor: pointer;
		width: 2.5em;
		height: .8em;
		margin: 0;

		position: relative;

		&::after{
			content: "";
			position: absolute;
			top: -.2em;

			display: block;
			height: 1.2em;
			width: 1.2em;

			background-color: var(--linkHoverColor);
			border-radius: 50%;

			transition: right var(--animationDuration);
			right: 1.3em;
		}

		&:checked::after{
			right: 0;
		}
	}
}

#mediaViewer{
	z-index: 2001;

	.widgetBox{
		min-height: auto;
		min-width: auto;
		border: none;

		background-color: var(--backgroundColor);
		background-image: url(/static/transparency.png); 

		&.is-pointer-down{
			cursor: move;
		}

		img, video{
			vertical-align: middle;
			max-width: 80vw;
			max-height: 80vh;
			border-radius: inherit;
		}
	}

	.mediaInfo{
		position: absolute;
		bottom: 1em;
		z-index: 1;
		left: 0;

		background-color: var(--primaryCardColor);
		padding: .5em 1em;
		opacity: .9;

		border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
	}
}

#deletePosts{
	bottom: 0;
}