.widgetBox{
	min-width: 30vw;
	min-height: 50vh;
}

#settings{
	@include user-select(none);

	.tabs{
		display: flex;

		span{
			padding: calc(var(--gap) / 2) var(--gap);
			text-align: center;
			width: 100%;

			&:not(.active){
				background-color: var(--bgcolor_card);
				cursor: pointer;
			}
		}
	}

	[data-tab]{
		background-color: var(--bgcolor);
		padding: var(--gap);

		> div{
			justify-content: space-between;
			align-items: center;
			display: flex;

			// margin-left: var(--gap);
		}
	}

	input[type="text"], input[type="password"]{
		background-color: var(--bgcolor_postform);
		margin-left: var(--gap);
		width: 10em;
	}

	[type="checkbox"]{
		-webkit-appearance: none;
		-moz-appearance: none;

		background-color: var(--bgcolor_postform);
		border-radius: .5em;
		cursor: pointer;
		width: 2.5em;
		height: .8em;
		margin: 0;

		position: relative;

		&::after{
			content: "";
			position: absolute;
			top: -.2em;

			display: block;
			height: 1.2em;
			width: 1.2em;

			background-color: var(--linkcolor_hover);
			border-radius: 50%;

			transition: right var(--animationDuration);
			right: 1.3em;
		}

		&:checked::after{
			right: 0;
		}
	}
}

#mediaViewer{
	z-index: 2001;

	.widgetBox{
		background-color: transparent;
		min-height: auto;
		min-width: auto;
		border: none;

		&.is-pointer-down{
			cursor: move;
		}

		*{
			vertical-align: middle;
			max-width: 80vw;
			max-height: 80vh;
		}
	}

	.mediaInfo, #zoomButtons{
		position: absolute;
		bottom: 1em;
		z-index: 1;
		opacity: .9;
	}

	.mediaInfo{
		left: 1em;

		background-color: var(--bgcolor_card);
		padding: .5em;
	}

	#zoomButtons{
		right: calc(1em + 12px);
		display: flex;

		button{
			padding: .3em;
		}

		button:first-child{
			margin-right: var(--gap)
		}
	}

	&.video #zoomButtons{
		display: none;
	}
}

#deletePosts{
	bottom: 0;
}