#boardList{
	@include user-select(none);

	width: 100%;
  padding: 10px;
  display: flex;
	margin: 20px 0;
  justify-content: center;

	cursor: default;
  background: var(--bgcolor);
  border: 1px solid var(--bordercolor);
	box-shadow: inset 0 0 15px -5px var(--shadowcolor);

  .group{
  	display: flex;
  	flex-direction: column;
  }
}

@media screen and (max-device-width: 414px) { // Mobile
	#boardList{
		width: calc(100% - 20px);
		margin: auto;
	}
}

#mainPageLogo{
	margin: 0;

	:first-child{
		font-size: 2em;
		line-height: 1.2em;
	}
}
