.icon{
	filter: invert(69%);
	vertical-align: top;
	height: 100%;
}

#navbar .icon{
	height: 55%;
}

#replyForm{
	.icon{
		height: 120%;
	}

	#submit .icon{
		height: 69%;
	}
}


.post .icon{
	cursor: pointer;
}
