main{
	background-color: var(--backgroundColor);
	box-shadow: var(--boxShadow);

	flex-direction: column;
	display: flex;
	z-index: 500;

	min-height: 100vh;
}

header {
	background-color: var(--primaryCardColor);
	@include user-select(none);
	padding: var(--gap);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 0 var(--borderRadius) var(--borderRadius);

	#title {
		display: block;
		padding: .3em 0;

		h1, h2 {
			margin: 0;
			font-weight: normal;
		}

		h1 {
			font-size: 1.5rem;
			color: var(--primaryTextColor);
		}

		h2 {
			font-size: 1rem;
		}
	}

	& > div {
		display: flex;

		& > :first-child{
			position: relative;
		}
	}
}
