body:not(.noSpoilers){
	.spoiler{
		transition: text-shadow var(--animationDuration), color var(--animationDuration); 
		
		&:not(:hover) {
			text-shadow: 0 0 .3em var(--primaryTextColor);

			&, * {
				color: transparent;
				background: transparent;
			}
		}
	}
}

q {
	color: var(--quotationColor);

	&:before, &:after{
		display: none;
	}
}

code {
	background: var(--backgroundColor);
	padding: .2em;
	font-size: 1.2em;
}

pre {
	margin: 0;
}

pre > code {
	display: block;
}
