.spoiler{
	transition: text-shadow var(--animationDuration), color var(--animationDuration); 
	
	&:not(:hover) {
		text-shadow: 0 0 .5em var(--textcolor);

		&, * {
			color: transparent;
			background: transparent;
		}
	}
}

q {
	color: var(--quotationcolor);

	&:before, &:after{
		display: none;
	}
}

code {
	background: var(--bgcolor);
	padding: .4em;
	margin: 0;
}
