.thread:not(:nth-last-child(2)){
	margin-bottom: calc(var(--gap) * 2);
}

.post{
	padding: var(--gap);
}

.postText{
	padding-top: 2px;
	padding-left: calc(var(--gap) / 2);
}

.postDetails{
	font-size: 1.1em;

	time{
		right: var(--gap)
	}
}

.thumbnails{
	& > a{
		div:first-child{
			max-height: 150px;
			max-width: 150px;
		}

		div:not(:first-child){
			font-size: .9rem;
			opacity: .8;
		}
	}
}

.attachments a{
	margin: 1em 0;
}

.omittedPosts{
	padding-left: var(--gap);
	padding-bottom: .25em
}