.post{
	padding: var(--gap);
}

.postText{
	padding-top: 2px;
	padding-left: calc(var(--gap) / 2);
}

.postDetails{
	font-size: 1.1em;
}

.omittedPosts{
	margin-left: var(--gap);
}

.thumbnails{
	& > div{
		& > a{
			max-height: 150px;
			max-width: 150px;
		}

		.info{
			font-size: .9rem;
			opacity: .9;

			[download]{
				display: none;
			}
		}
	}
}

.attachments a{
	margin: 1em 0;
}