#navbar{
	padding: calc(var(--gap) / 2);

	position: fixed;

	&, & > div{
		display: flex;
	}

	.btn, button{
		margin: calc(var(--gap) / 2);
	}

	.active{
		background-color: var(--buttonHoverColor)
	}
}
