@media screen and (max-device-width: 414px) { // Mobile
	#navbar{
		position: fixed;
		width: calc(100vw);
		right: 0 !important;
		bottom: 0;

		background-color: var(--bgcolor);
		padding: var(--gap) !important;

		&, .column{
			flex-direction: row !important;
		}

		.column{
			width: 50vw;
		}

		.btn{
			height: 50px !important;
			width: 100% !important;
			margin: calc(var(--gap) / 2) !important;
		}
	}
}

@media screen and (min-device-width: 415px) { // Desktop or tablet
	#sidebar{
		@include user-select(none);

		flex-direction: column;
		width: var(--sidebarWidth);
		height: 100vh;
		padding: 10px var(--gap);
		position: fixed;

		#logo{
			text-align: center;
			line-height: 1.3em;
			margin: 5px 0;

			a{
				color: var(--textcolor) !important;
				display: block;
			}

			&:hover{
				text-decoration: none;
			}

			:first-child{
				line-height: 1em;
				font-size: 2em;
			}
		}

		#boards{
			flex-direction: column;
			display: flex;

			margin-top: 1em;
		}

		#JSInd{
			bottom: var(--gap);
			position: fixed;
			left: 0;

			width: var(--sidebarWidth);
			padding: var(--gap);
			text-align: center;
			color: red;

			small{
				color: var(--textcolor);
			}
		}
	}

	// Sidebar hiding
	#hideSidebarCheckbox:checked ~ main {
		margin-left: var(--gap);
	}

	#navbar{
		height: 100vh;
	}
}

// Navbar
#navbar{
	justify-content: space-between;
	flex-direction: column;
	display: flex;

	padding: calc(var(--gap) / 2) 0;
	position: fixed;
	z-index: 900;
	right: var(--gap);

	.btn{
		box-shadow: var(--boxShadow);

		font-size: 1.5em;

		margin: calc(var(--gap) / 2) 0;
		height: 45px;
		width: 45px;
	}
}
