@media screen and (max-device-width: 414px) { // Mobile
	#sidebar{
		display: none;
	}

	#topbar{
		justify-content: space-around;
		position: fixed;
		display: flex;
		top: 0;

		background-color: var(--bgcolor);

		height: 25px;
		padding: 3px;
		z-index: 999;
		width: 100%;
	}

	#navbar{
		height: calc(100vh - 25px);
		top: 25px;

		.btn.wide, .btn.hide{
			display: none;
		}
	}
}

@media screen and (min-device-width: 415px) { // Desktop or tablet
	#topbar{
		display: none;
	}

	#sidebar{
		@include user-select(none);

		flex-direction: column;
		width: $sidebarWidth;
		padding: 10px $gap;
		position: fixed;
	}

	#sidebar #logo{
		text-align: center;
		line-height: 17px;
		margin: 5px 0;

		a{
			color: var(--textcolor) !important;
			display: block;
		}

		&:hover{
			text-decoration: none;
		}

		:first-child{
			line-height: 1em;
			font-size: 2em;
		}
	}

	#sidebar #boards{
		flex-direction: column;
		display: flex;

		margin-top: 20px;
	}

	// Sidebar hiding
	#hideSidebarCheckbox:checked ~ main {
		margin-left: $gap;
	}

	#navbar{
		height: 100vh;
	}
}

// Navbar
#navbar{
	// $gaps: 5px; // Отступы вокруг и между кнопками

	justify-content: space-between;
	flex-direction: column;
	padding: $gap 0;
	display: flex;

	padding: ($gap / 2) 0;
	position: fixed;
	z-index: 900;
	right: $gap;

	.btn{
		box-shadow: var(--boxShadow);

		font-size: 1.5em;

		margin: ($gap / 2) 0;
		height: 45px;
		width: 45px;

	}
}
