#notificationsContainer{
	min-width: 10em;

	position: fixed;
	right: var(--gap);
	top: var(--gap);
	z-index: 1100;

	*{
		@include user-select(none);

		border: 1px solid var(--bgcolor);
		background: var(--bgcolor_card);

		box-sizing: border-box;
		margin-bottom: var(--gap);
		overflow: hidden;

		padding: 0 var(--gap);
		max-height: 0;
		opacity: 0;

		&.newNotification{
			max-height: 100vh;
			padding: var(--gap);
			opacity: 1;
		}
	}
}
