#notificationsContainer{
  position: fixed;
  z-index: 1100;
  right: .7em;
  top: .7em;
  min-width: 10em;

  &.newNotification{
    animation-name: newNotification;
    animation-duration: .3s;
  }

  .notification{
    @include user-select(none);
    cursor: pointer;

    border: 1px solid var(--bgcolor);
    background: var(--bgcolor_card);

    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: .7em;

    transition: all .5s;

    max-height: 0;
    padding: 0 1em;
    opacity: 0;

    &.newNotification{
      transition: all .2s;
      max-height: 500px;
      padding: 1em;
      opacity: 1;
    }
  }
}
