.pagination {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	gap: var(--gap);
	margin-top: var(--gap);

	.btn {
		cursor: pointer;
		height: 3.5rem;
		width: 3.5rem;

		&.selected {
			background: var(--buttonHoverColor);
		}
	}
}
