@media screen and (max-device-width: 414px) { // Mobile
	.postAttachments .thumb{
		a:first-child img{
			max-height: 100px;
			max-width: 100px;
		}

		a:last-child{
			width: 100px;
		}
	}

	.post:not(:first-child){
		border-width: 1px 0;
	}
}

@media screen and (min-device-width: 415px) { // Desktop or tablet
	.postAttachments{
		margin-right: 5px;

		.thumb a:last-child{
			opacity: 0;
			width: 200px;

			transition: opacity .3s;
			background: var(--bgcolor);

			bottom: 0;
			position: absolute;
		}

		.thumb:hover a:last-child{
			opacity: 1;
		}
	}

	.postBody{
		display: flex;
		padding-top: 3px;
	}

	.post:not(:first-child){
		// border-left: 25px solid var(--bgcolor_card);
		margin-left: 20px;

		.postBody{
			padding: 5px;
		}
	}
}

.thread{
	width: 100%;
	overflow: hidden;
	// border-top: 5px dashed var(--bgcolor);
	padding-bottom: 5px;
	// TODO: Set max-height by JS
	transition: max-height .3s;

	&.spoiled{
		max-height: 30px;

		.post:first-child {
			overflow-y: hidden;
		}
	}
}

.post{
	padding: 5px;
	position: relative;
	max-height: 300px;
	transition: max-height .3s;
	overflow-y: auto;

	&.spoiled{
		overflow-y: hidden;
		max-height: 15px;
	}

	&:not(:first-child){
		margin-bottom: 5px;
		background-color: var(--bgcolor);
	}
}

.postDetails{
	cursor: default;
	font-size: .9em;
	@include user-select(none);
	color: var(--textcolor);

	time{
		font-size: .98em;
		color: var(--textcolor_secondary);
	}

	input{
		display: none;
	}

	.sage::before{
		content: '\f01a';
	}

	.reply::before{
		content: '\f112';
	}

	.menu::before{
		content: '\f0c9';
	}

	input[type="checkbox"]{
		& + .icon.delete{
			opacity: .5;
		}

		&:checked + .icon.delete{
			opacity: 1;
		}
	}
}


.thumb{
	position: relative;
	transition: opacity .3s;

	img{
		vertical-align: bottom;
	}

	a:last-child{
		font-size: .8em;

		width: 100%;
		display: flex;
		justify-content: space-around;
	}
}


// SFW image hiding
body{
	#hideImagesCheckbox:checked ~ main .thumb{
		opacity: .3;
	}

	#hideImagesCheckbox:checked ~ #navbar [for="hideImagesCheckbox"]{
		background-color: var(--btncolor_hover);
	}

	.postAttachments .thumb:hover{
		opacity: 1 !important;
	}
}

.noThreads{
	margin: 50px;
	font-size: 1.1em;
	text-align: center;
}

.omittedPosts{
	font-size: .88em;
	margin-bottom: 5px;
	margin-left: 20px;
	color: var(--textcolor_secondary);
}