@media screen and (max-device-width: 414px) { // Mobile
	.postAttachments{
		margin-bottom: 1rem;
	}

	.postAttachments .thumb{
		&, img{
			max-height: 100px;
			max-width: 100px;
		}

		.dlLink{
			display: none;
		}

		.info{
			bottom: -1.1rem;
			position: absolute;
			height: calc(100% + 1.1rem);
			align-items: flex-end;
			font-size: .8em;
			justify-content: space-between;
		}
	}

	.post:not(:first-child){
		border-width: 1px 0;
	}
}

@media screen and (min-device-width: 415px) { // Desktop or tablet
	.postAttachments{
		margin-right: 5px;

		.info, .dlLink{
			flex-direction: column;
			transition: color .3s;
			color: transparent;

			position: absolute;
		}

		.info{
			top: 0;
			cursor: zoom-in;
		}

		.dlLink{
			padding: 5px 0;
			bottom: 0;

			text-align: center;
			width: 100%;

			&:hover{
				text-decoration: underline;
			}
		}

		.thumb:hover{
			.info, .dlLink{
				color: inherit;
			}

			img{
				opacity: .1
			}
		}
	}

	.postBody{
		display: flex;
		padding-top: 3px;
	}

	.post:not(:first-child){
		// border-left: 25px solid var(--bgcolor_card);
		margin-left: 20px;

		.postBody{
			padding: 5px;
		}
	}
}

.thread{
	transition: max-height .3s;
	overflow: hidden;
	
	// TODO: Выставлять максимальную высоту при помощи ЖС
	
	&.spoiled{
		max-height: 20px;

		.post:first-child {
			overflow-y: hidden;
		}
	}

	.omittedPosts{
		color: var(--textcolor_secondary);
		margin-bottom: 5px;
		margin-left: 20px;
		font-size: .8rem;
	}
}

.post{
	transition: max-height .3s;
	position: relative;
	max-height: 300px;
	overflow-y: auto;
	padding: 5px;

	&.spoiled{
		overflow-y: hidden;
		max-height: 20px;
	}

	&:not(:first-child){
		background-color: var(--bgcolor);
		margin-bottom: 5px;
	}
}

.postDetails{
	@include user-select(none);
	color: var(--textcolor);
	font-size: .8rem;
	cursor: default;

	time{
		color: var(--textcolor_secondary);
		font-size: .98em;
	}

	.material-icons{
		vertical-align: sub;
		font-size: 1.35em;
		cursor: pointer;
	}

	input[id|="delete"]{
		& + label{
			opacity: .5;
		}

		&:checked + label{
			opacity: 1;
		}
	}
}


.thumb{
	position: relative;

	img{
		transition: opacity .3s;
		vertical-align: bottom;
	}

	.info{
		justify-content: center;
		align-items: center;
		display: flex;
		
		height: 100%;
		width: 100%;
	}
}


// Мамка в комнате
body{
	#hideImagesCheckbox:checked ~ main .thumb img{
		opacity: .15;
	}

	#hideImagesCheckbox:checked ~ #navbar [for="hideImagesCheckbox"]{
		background-color: var(--btncolor_hover);
	}
}

.noThreads{
	text-align: center;
	font-size: 1.1em;
	margin: 50px;
}