@import "_markup";

.thread{
	.postCount{
		color: var(--secondaryTextColor);
		padding-left: var(--gap);
		display: block;
	}

	.post{
		border-radius: var(--borderRadius);
		position: relative;
		background-color: var(--primaryCardColor);
		padding: 0 var(--gap) var(--gap) var(--gap);
	}

	& > * {
		margin-top: calc(var(--gap) / 2);
	}

	&:not(.feed){
		.post:first-child{
			background-color: var(--secondaryCardColor);
		}
	}
}

// Отметки
.post[data-marks~=hidden] .postBody, .thread[data-marks~=hidden] > *:not(:first-child), .thread[data-marks~=hidden] > *:first-child .postBody{
	display: none
}

.post[data-marks~=hidden], .thread[data-marks~=hidden]{
	padding-bottom: 0
}

.postLink[data-marks~=hidden]{
	text-decoration: line-through
}

.post[data-marks~=own] .refLink, .postLink[data-marks~=own]{
	&::after{
		content: "(You)";
		margin-left: .4em
	}
}

.postDetails .star{
	transition: opacity var(--animationDuration);
	opacity: .4;
}

.post[data-marks~=starred] .postDetails .star{
	opacity: 1;
}

.postDetails{
	@include user-select(none);
	color: var(--primaryTextColor);
	position: relative;
	padding: .25em 0;

	time{
		color: var(--secondaryTextColor);
		position: absolute;
		font-size: .9em;
	}

	.refLink{
		padding-right: .2em
	}

	.subject{
		color: var(--secondaryTextColor);
	}

	.material-icons{
		vertical-align: bottom;
		font-size: 1.35em;
	}

	input[id|="delete"]{
		& + label{
			transition: opacity var(--animationDuration);
			opacity: .4;
		}

		&:checked + label{
			opacity: 1;
		}
	}

	label[for|="delete"]{
		display: var(--deletionIconsDisplay);
	}
}

// Мамка в комнате
body{
	#hideImagesCheckbox:checked ~ main .thumb:not(:hover){
		opacity: .15;
	}

	#hideImagesCheckbox:checked ~ #navbar [for="hideImagesCheckbox"]{
		background-color: var(--buttonHoverColor);
	}
}

.noThreads{
	text-align: center;
	font-size: 1.1em;
}

.thumbnails{
	@include user-select(none);
	overflow: auto;
	display: flex;

	& > a{
		margin-right: calc(var(--gap) / 2);
		color: var(--primaryTextColor);
		position: relative;

		div:first-child{
			background-position: center;
			background-size: cover;

			&.missingThumbnail{
				justify-content: center;
				align-items: center;
				display: flex;

				background-color: var(--backgroundColor);
			}
		}

		div:not(:first-child){
			position: absolute;
			bottom: 0;

			justify-content: space-between;
			display: flex;
			width: 100%;

			transition: opacity var(--animationDuration);
			background-color: var(--primaryCardColor);
		}
	}
}

.attachments a{
	display: block;

	span:first-child{
		font-size: 1.2em;
		color: var(--primaryTextColor);
		vertical-align: bottom;
	}

	span:last-child{
		font-size: .8em;
		color: var(--secondaryTextColor)
	}
}
