#replyFormWrapper{
	.widgetHandle{
		@include user-select(none);
		justify-content: center;
		display: flex;

		position: relative;

		padding-top: calc(var(--gap) / 2);

		span{
			margin-left: 5px;
			width: 100%;
			text-align: center;
		}

		.btn{
			position: absolute;
			top: 0.3em;
			right: 0;
			padding: 0;
		}
	}

	margin-top: var(--gap);
	border-radius: var(--borderRadius);
	background-color: var(--primaryCardColor);

	padding: var(--gap);
	padding-top: 0;

	input, textarea{
		border-radius: var(--borderRadius);
		font-size: 1rem;
	}

	#replyForm{
		$narrowLineHeight: 30px;
		--buttonWidth: 60px;

		display: grid;
		padding-top: calc(var(--gap) / 2);

		grid-template-rows: $narrowLineHeight 1fr auto;
		grid-gap: var(--gap);

		input[name="subject"]{
			min-width: 10em;
			grid-column: 3/5;
			grid-row: 1;
		}

		textarea{

			padding: .5em;
			resize: none;

			grid-column: 1/5;
		}

		input[name="password"]{
			min-width: 10em;
			height: $narrowLineHeight;

			grid-column: 1/5;
		}

		button#submit{
			font-size: 2em;
			grid-column: 4;
		}

		#fileInputs{
			grid-column: 1/4;

			& > div{
				justify-content: space-between;
				height: $narrowLineHeight;
				align-items: center;
				display: flex;

				&:not(:last-child){
					margin-bottom: var(--gap)
				}

				label{
					background-color: inherit !important;
					font-size: 1.3em;
					opacity: .5
				}

				input:checked + label{
					opacity: 1
				}
			}
		}

		.btn{
			line-height: 0;
		}

		[type="checkbox"]:checked + .btn{
			color: var(--linkOverColor) !important;
			background-color: var(--backgroundColor);
		}
	}
}
