#replyForm{
	&.floating{
		border: 1px solid var(--borderColor);
		position: fixed !important;
		z-index: 2000;
	}

	&.isDragged{
		opacity: .8;
	}

	&:not(.floating){
		position: unset !important;

		#usefulInfo{
			grid-column: 5/7;
			grid-row: 1/5;
		}
	}

	.widgetHandle{
		@include user-select(none);
		justify-content: center;
		display: flex;

		position: relative;

		padding-top: calc(var(--gap) / 2);

		span{
			margin-left: 5px;
		}
	}

	margin-top: calc(var(--gap)/ 2);
	border-radius: var(--borderRadius);
	background-color: var(--primaryCardColor);

	padding: var(--gap);
	padding-top: 0;

	input, textarea{
		font-size: .95em;
		border-radius: var(--borderRadius);
	}

	.container{
		pointer-events: none;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}

	form{
		$narrowLineHeight: 30px;
		--buttonWidth: 60px;

		display: grid;
		padding-top: calc(var(--gap) / 2);

		grid-template-rows: $narrowLineHeight 1fr auto;
		grid-gap: calc(var(--gap) / 2);

		input[name="subject"]{
			min-width: 10em;
			grid-column: 3/5;			
			grid-row: 1;
		}

		textarea{
			padding: .5em;
			resize: none;

			grid-column: 1/5;
		}

		input[name="password"]{
			min-width: 10em;
			height: $narrowLineHeight;

			grid-column: 1/5;
		}

		button#submit{
			font-size: 2em;
			grid-column: 4;
		}

		#fileInputs{
			grid-column: 1/4;

			& > div{
				justify-content: space-between;
				height: $narrowLineHeight;
				align-items: center;
				display: flex;

				&:not(:last-child){
					margin-bottom: var(--gap)
				}

				label{
					background-color: inherit !important;
					font-size: 1.3em;
					opacity: .5
				}

				input:checked + label{
					opacity: 1
				}
			}

			.fancyFileInput{
				@include user-select(none);
				width: $narrowLineHeight * 2;
				height: $narrowLineHeight * 2;

				display: flex;
				justify-content: center;
				align-items: center;

				position: relative;
				
				&:not(.hasFile):after{
					content: "attach_file";
					font-size: 1.5em;
				}

				&.hasFile{
					background-size: cover;
					background-position: center;
					margin-right: calc(var(--gap) / 2);
				}

				.del, .nsfw{
					position: absolute;
					background: var(--backgroundColor);
					top: 0;
				}

				.del{
					border-top-right-radius: var(--borderRadius);
					right: 0;
				}

				.nsfw{
					border-top-left-radius: var(--borderRadius);
					left: 0;
				}
			}
		}

		.btn{
			line-height: 0;
		}

		[type="checkbox"]:checked + .btn{
			color: var(--linkOverColor) !important;
			background-color: var(--backgroundColor);
		}
	}
}