#replyForm{
	background-color: var(--btncolor);
	padding: var(--gap);
	position: fixed;
	z-index: 2000;

	&.is-dragging{
		opacity: .8;
	}

	input, textarea{
		font-size: .95em;
	}

	.container{
		pointer-events: none;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}

	.widgetHandle{
		@include user-select(none);
		justify-content: center;
		font-size: .9em;
		display: flex;

		span{
			margin-left: 5px;
		}

		span.material-icons{
			font-size: 1.3em;
			margin-top: 1px;
		}
	}

	form{
		$narrowLineHeight: 30px;
		$buttonWidth: 3em;

		display: grid;
		padding-top: calc(var(--gap) / 2);

		// grid-template-rows: $narrowLineHeight 1fr $narrowLineHeight;
		grid-template-rows: $narrowLineHeight 1fr auto;
		grid-template-columns: 1fr $buttonWidth $buttonWidth;

		grid-gap: calc(var(--gap) / 2);

		input[name="subject"]{
			height: $narrowLineHeight;

			grid-column: 1;
			grid-row: 1;
		}

		label[for="opCheckbox"]{
			grid-column: 2;
			grid-row: 1;
		}

		label[for="sageCheckbox"]{
			grid-column: 3;
			grid-row: 1;
		}

		textarea{
			grid-column: 1/4;
			grid-row: 2;

			min-height: 10em;
			max-height: 50vh;
			min-width: 100%;
			max-width: 50vw;
		}

		button#submit{
			max-height: 2 * $narrowLineHeight;
			font-size: inherit;

			grid-column: 2/4;
			grid-row: 3;
		}

		#fileInputs{
			grid-column: 1;
			grid-row: 3;

			& > div{
				justify-content: space-between;
				height: $narrowLineHeight;
				align-items: center;
				display: flex;

				&:not(:last-child){
					margin-bottom: var(--gap)
				}

				label{
					background-color: inherit !important;
					font-size: 1.3em;
					opacity: .5
				}

				input:checked + label{
					opacity: 1
				}
			}

			.fancyFileInput{
				@include user-select(none);
				width: $narrowLineHeight * 2;
				height: $narrowLineHeight * 2;
				border: 1px solid var(--textcolor_secondary);

				display: flex;
				justify-content: center;
				align-items: center;

				position: relative;
				
				&:not(.hasFile):after{
					content: "cloud_upload";
					font-size: 2em;
				}

				&.hasFile{
					background-size: cover;
					background-position: center;
					margin-right: calc(var(--gap) / 2);
				}

				.del{
					position: absolute;
					background: var(--bgcolor);
					right: 0;
					top: 0;
				}
			}
		}

		.btn{
			line-height: 0;
			background-color: inherit;
		}

		[type="checkbox"]:checked + .btn{
			color: var(--linkcolor) !important;
			background-color: var(--bgcolor);
		}
	}
}

#replyFormShow:not(:checked) + #replyForm{
	display: none;
}
