::-webkit-scrollbar {
  background-color: var(--bgcolor);
  padding-left: 10px;
  position: fixed;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bgcolor_card);
  border: 1px solid var(--bordercolor);
  box-shadow: var(--boxShadow);
}
