::-webkit-scrollbar {
  background-color: var(--backgroundColor);
  padding-left: 10px;
  position: fixed;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryCardColor);
  border: 1px solid var(--borderColor);
  box-shadow: var(--boxShadow);
}
