#sidebar {
	flex-direction: column;
	width: var(--sidebarWidth);
	height: 100vh;
	position: fixed;

	text-align: right;

	left: calc(50vw - 25em - var(--sidebarWidth) - 2 * var(--gap));
	width: var(--sidebarWidth);

	#logo {
		color: var(--primaryTextColor);
		font-size: 2rem;
		font-weight: bold;
	}

	#boards {
		flex-direction: column;
		display: flex;
	}
}
