#sidebar{
	@include user-select(none);

	flex-direction: column;
	width: var(--sidebarWidth);
	height: 100vh;
	padding: 10px var(--gap);
	position: fixed;

	#logo h2{
		color: var(--primaryTextColor);
		text-align: center;
		margin: .3em 0;
	}

	#boards{
		flex-direction: column;
		display: flex;

		a[data-badge]::after{
			content: " " attr(data-badge);
			vertical-align: super;
			font-size: .8em;
		}
	}

	#JSInd{
		bottom: var(--gap);
		position: fixed;
		left: 0;

		width: var(--sidebarWidth);
		padding: var(--gap);
		text-align: center;
		color: red;

		small{
			color: var(--primaryTextColor);
		}
	}
}
