#sidebar{
	flex-direction: column;
	width: var(--sidebarWidth);
	height: 100vh;
	position: fixed;

	text-align: right;

	left: calc(50vw - 25em - var(--sidebarWidth) - 2 * var(--gap));
	width: var(--sidebarWidth);

	#logo h2{
		color: var(--primaryTextColor);
		margin: .3em 0;
	}

	#boards{
		flex-direction: column;
		display: flex;

		a[data-badge]::after{
			content: " " attr(data-badge);
			vertical-align: super;
			font-size: .8em;
		}
	}

	#JSInd{
		bottom: var(--gap);
		position: fixed;
		left: 0;

		width: var(--sidebarWidth);
		padding: var(--gap);
		text-align: center;
		color: red;

		small{
			color: var(--primaryTextColor);
		}
	}
}
