@media screen and (max-device-width: 414px) { // Mobile
	#replyForm{
		bottom: 0;
	}
}

@media screen and (min-device-width: 415px) { // Desktop
	#replyForm{
		left: calc(50vw - 250px);
		top: 60vh;
	}
}

#replyForm{
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s;
	background-color: var(--bg_secondary);

	z-index: 100;
	position: fixed;

	border: 1px solid var(--border_primary);

	*{
		outline: none !important;
	}

	[name="subject"]{
		text-align: center;
		width: 100%;
	}

	.btn{
		margin: 2px 0px 2px 2px;
	}

	textarea{
		border: 1px solid var(--border_primary);
		
		resize: none;
		width: 500px;
		min-height: 100px;
		
	}

	input, textarea{
		transition: background-color .3s;
		background-color: var(--btn_primary);
		&:hover, &:focus{
			background-color: var(--btn_secondary);
		}
	}

	input{
		margin: 2px 0;
		border: 1px solid var(--border_primary);
		
		&:not([type="password"]){
			width: 100%;
		}
	}

	#fileInputs{
		max-height: 0px;
		transition: max-height .3s;
		overflow: hidden;
	}

	#fileInputsCheckbox:checked + label + #fileInputs{
		max-height: 100px;
	}

	#fileInputsCheckbox:checked + label::before{
		content: '\f077';
	}

	.icon{
		&::before{
			margin-right: 3px;
		}

		&.op::before{
			content: '\f2c0'
		}

		&.sage::before{
			content: '\f088'
		}

		&.help::before{
			content: '\f128'
		}

		&.send::before{
			content: '\f1d9'
		}

		&.caution::before{
			content: '\f228'
		}

		&.more::before{
			margin: 0 auto;
			content: '\f078';
		}
	}
}

// Show
#replyFormShow:checked ~ #replyForm{
	opacity: 1;
	pointer-events: auto;
}

.widgetHandle{
	@include user-select(none);
	cursor: default;

	height: 20px;
	padding: 2px;

	text-align: center;
	position: relative;

	&:active{
		cursor: move;
	}

	.icon.close{
		top: 0;
		right: 0;
		position: absolute;
		
		width: 20px;
		height: 20px;
		display: flex;
		cursor: pointer;
		align-items: center;
		justify-content: center;

		&::before{
			content: '\f00d';
			font-size: 1.2em;
		}
	}
}