#deletePosts{
	border-top: 2px solid var(--borderColor);
	background-color: var(--primaryCardColor);
	@include user-select(none);
	transition: opacity var(--animationDuration);
	display: flex;
	width: 100vw;
	min-height: 4em;

	align-items: center;
	justify-content: center;

	padding: var(--gap) 0;
	position: fixed;
	z-index: 1000;

	&[hidden]{
		opacity: 0;
		pointer-events: none;
	}

	& > *{
		margin: 0 10px;
	}

	div > div{
		display: flex;
		justify-content: space-between;
	}

	input{
		height: 2em
	}
}
