:root{
	--widgetMinWidth: 450px;
	--sidebarWidth: 20em;
}

@import "_base";
@import "_defaultTheme";
@import "_desktopBasePatch";
@import "_musicPlayer";
@import "_scrollbar";
@import "_bottombar";
@import "_posts";
@import "_desktopPostsPatch";
@import "_navBar";

#navbar{
	justify-content: space-between;
	flex-direction: column;

	height: 100vh;
	right: 0;

	& > div{
		flex-direction: column;
	}

	.btn, button{
		font-size: 1.5rem;

		height: 3.5rem;
		width: 3.5rem;
	}
}

@import "_sidebar";

#sidebar #logo:hover{
	text-decoration: none;
}

// Sidebar hiding
#hideSidebarCheckbox:checked ~ main {
	margin-left: var(--gap);
}

@import "_notifications";

#notificationsContainer .notification{
	transition: all var(--animationDuration);

	&.clickable{
		cursor: pointer;
	}

	&.newNotification{
		transition: all var(--animationDuration);
	}
}

@import "_widgets";
@import "_desktopWidgetsPatch";

@import "_replyForm.scss";

#replyForm{
	min-width: var(--widgetMinWidth);

	// Начальная позиция
	left: calc(50vw - var(--widgetMinWidth) / 2);
	top: 10em;

	border: 1px solid var(--bordercolor);

	.widgetHandle, .pseudoLink{
		cursor: default;
	}

	.material-icons{
		cursor: pointer;
	}

	&.is-dragging{
		.widgetHandle, .pseudoLink{
			cursor: move;
		}
	}
}
