:root{
	--widgetMinWidth: 450px;
	--sidebarWidth: 20em;
}

@import "_base";
@import "_defaultTheme";
@import "_desktopBasePatch";
@import "_musicPlayer";
@import "_scrollbar";
@import "_bottombar";
@import "_posts";
@import "_desktopPostsPatch";
@import "_navBar";

#navbar{
	justify-content: space-between;
	flex-direction: column;

	height: 100vh;
	right: 0;

	& > div{
		flex-direction: column;
	}

	.btn, button{
		font-size: 1.5rem;

		height: 3.5rem;
		width: 3.5rem;
	}
}

@import "_sidebar";

#sidebar #logo:hover{
	text-decoration: none;
}

// Sidebar hiding
#hideSidebarCheckbox:checked ~ main {
	margin-left: var(--gap);
}

@import "_notifications";

#notificationsContainer .notification{
	transition: all var(--animationDuration);

	&.clickable{
		cursor: pointer;
	}

	&.newNotification{
		transition: all var(--animationDuration);
	}
}

@import "_widgets";
@import "_desktopWidgetsPatch";

@import "_replyForm.scss";

#replyForm{
	left: calc(50vw - var(--widgetMinWidth) / 2);
	top: 5em;

	.widgetHandle, .pseudoLink{
		cursor: move;
	}

	&.floating{
		width: 35vw;

		form{
			grid-template-columns: var(--buttonWidth) var(--buttonWidth) 1fr var(--buttonWidth);
		}

		.widgetHandle{
			button{
				position: absolute;
				right: 0;

				margin-top: 1px;
				padding: 0;
			}
		}

		textarea{
			height: 10em;
		}
	}

	&:not(.floating){
		form{
			grid-template-columns: var(--buttonWidth) var(--buttonWidth) 1fr var(--buttonWidth) calc(3 * var(--buttonWidth)) 1fr;
		}

		.widgetHandle button{
			display: none;
		}

		textarea{
			min-height: 10em;
		}
	}
}

main > #usefulInfo{
	display: flex;
	justify-content: space-around;

	margin-top: calc(var(--gap)/ 2);
	border-radius: var(--borderRadius);
	background-color: var(--primaryCardColor);

	padding: var(--gap);
}

#usefulInfo{
	h3{
		margin: 0 var(--gap);
	}

	ul, table{
		margin: 0 calc(2 * var(--gap));
	}

	ul{
		padding: 0 calc(2 * var(--gap)); 
	}
}