$linksBarHeight: 7.5vh;
$shroudColor: rgba(0, 0, 0, .75);

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*{
	// Лиса обводит ссылки при нажатии
	outline: none !important;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr $linksBarHeight;

	margin: 0;
	height: 100vh;

	font-family: 'Noto Sans', sans-serif;
	color: rgba(255, 255, 255, .7);
	font-size: 1.7vmin;

	background-image: url('/static/background/9.jpg');
	background-position: top;
	background-size: cover;
}

#player, #faq, #feed{
	background-color: $shroudColor;

	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	display: flex;
}

#player{
	grid-row: 1/3;
	grid-column: 2;

	align-items: center;

	#logo, #title{
		cursor: pointer;
	}

	#logo{
		height: 17em;
	}
}

#feed, #faq{
	padding-left: 5em;
	font-size: 1.2em;

	a{
		padding: .3em;
		display: flex;
	}

	i{
		font-size: 1.3em;

		padding: 0 .5em;
		align-items: center;
		display: flex;
	}

	time{
		font-size: .8em;
		opacity: .8;
	}
}

#links{
	grid-column: 1/3;
	grid-row: 3;

	display: grid;

	a{
		grid-row: 1;

		font-size: $linksBarHeight * 0.6;
		line-height: $linksBarHeight;
		text-align: center;

		transition: background-color .2s;
		background-color: $shroudColor;

		&:hover{
			background-color: rgba(0, 0, 0, .5);
		}
	}
}
