@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

:root{
	// Бирюзовый
	--primary_color: #62becb;
}

*{
	// Лиса обводит ссылки при нажатии
	outline: none !important;
}

a{
	color: inherit;
}

body{
	margin: 0;
	user-select: none;
	-moz-user-select: none;

	font-size: 2vh;
	color: rgba(255, 255, 255, .7);
	font-family: 'Noto Sans', sans-serif;

	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-image: url('/static/background/9.jpg');
}

.screen{
	display: flex;
	min-height: 50vh;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;

	background: rgba(0, 0, 0, .7);
}

body.jsAvailable .screen{
	height: 100vh;
	// padding-bottom: 60px;
}

#faq{
	list-style: none;

	li:nth-child(odd)::before {
		content: "Q: ";
	}

	li:nth-child(even){
		margin-bottom: 2em;

		&::before {
			content: "A: ";
		}
	}

	.fancy{
		font-style: italic;
		font-size: 1.05em;
	}
}

#scrollIndicator{
	right: 10px;
	display: none;
	position: fixed;
	font-size: 30px;
	top: calc(50vh - 40px);

	&::before, &::after{
		content: "•";
		width: 10px;
		height: 10px;
		padding: 2.5px;
		display: block;
		transition-duration: opacity .3s;
	}

	&.firstScreen{
		&::after{
			opacity: .5;
		}
	}

	&.secondScreen{
		&::before{
			opacity: .5;
		}
	}
}

@media screen and (min-device-width: 415px) { // PC
	body.jsAvailable{
		overflow: hidden;

		#scrollIndicator{
			display: block;
		}
	}
}

@media screen and (max-device-width: 414px) { // Mobile
	body{
		font-size: 3vw;
	}

	.screen{
		flex-direction: column;

		&:not(:first-child){
			font-size: .5em;
			height: auto !important;
		}
	}
}

// New homescreen
#center{
	padding-bottom: 15vh;
}

#player{
	// color: #c8c8c8;
	font: 13px sans-serif;

	display: flex;
	margin-left: 10px;
	margin-top: -15px;
	justify-content: space-between;

	a{
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}
}

#logo{
	display: flex;
	align-items: center;

	span{
		font-size: 75px;
		font-weight: bold;
		font-family: "Serif";
		color: var(--primary_color);
	}

	#slogan div{
		padding: 2px;
		padding-left: 5px;
		padding-right: 10px;

		position: relative;

		color: #000;
		background-color: var(--primary_color);

		&:last-child{
			margin-top: 5px;
			margin-left: 13px;
		}

		&::before {
			content: '';

			top: 0;
			left: -11px;
			position: absolute;

			border-bottom: 24px solid transparent;
			border-right: 11px solid var(--primary_color);
		}
	}
}

// Beware of the HEXAGONS
#hexes{
	top: -80px;
	width: 100vw;
	height: 100vh;
	position: fixed;

	display: grid;
	grid-auto-rows: 122px;
	grid-auto-columns: 140px;

	img{
		width: 150px;
		height: 150px;
		transform: scale(1);

		margin: 2px;
		cursor: pointer;
		transition-duration: .1s;

		&:hover{
			transform: scale(1.05);
		}

		&:nth-child(1), &:nth-child(2), &:nth-child(3){
			grid-row: 1;
		}

		&:nth-child(4){
			grid-row: 2;
			margin-left: 70px;
		}

		&:nth-child(5), &:nth-child(6), &:nth-child(7){
			grid-row: 6;
		}

		&:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12), &:nth-child(13){
			grid-row: 7;
			margin-left: 70px;
		}
	}
}
