$linksBarHeight: 7.5vh;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@media screen and (min-device-width: 415px) { // Desktop or tablet
	body{
		font-size: 1.5vmin;
	}

	main{
		padding: 10em;
	}

	#player{
		grid-column: 2;
		grid-row: 1/3
	}

	#links a:hover{
		background-color: rgba(255, 255, 255, .08);
	}
}

@media screen and (max-device-width: 414px) { // Mobile
	body{
		font-size: 2.5vmin;
	}

	main{
		padding: 5em;
	}

	#player{
		grid-row: 1;
	}

	#feed{
		grid-row: 2;
	}

	#faq{
		grid-row: 3;
	}
}

*{
	// Лиса обводит ссылки при нажатии
	outline: none !important;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-image: url('/static/background/9.jpg');
	background-position: top;
	background-size: cover;

	font-family: 'Noto Sans', sans-serif;
	color: rgba(255, 255, 255, .7);

	overflow: hidden;
	height: 100vh;
	margin: 0;
}

main{
	box-sizing: border-box;
	display: grid;

	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	height: 100%;
	width: 100vw;
	z-index: -1;
}

#player, #faq, #feed{
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	display: flex;
}

#player{
	align-items: center;

	#logo, #title{
		cursor: pointer;
	}

	#logo{
		height: 17em;
	}
}

#feed, #faq{
	font-size: 1.2em;

	a{
		padding: .3em;
		display: flex;
	}

	i{
		font-size: 1.3em;

		align-items: center;
		padding: 0 .5em;
		display: flex;
	}

	time{
		font-size: .8em;
		opacity: .8;
	}
}

#links{
	width: 100vw;
	position: fixed;
	bottom: 0;
	font-size: 2em;

	display: grid;

	a{
		grid-row: 1;

		font-size: $linksBarHeight * 0.6;
		line-height: $linksBarHeight;
		text-align: center;

		transition: background-color var(--animationDuration);
	}
}
