:root{
	--textcolor: #ccc;
	--textcolor_secondary: #999;

	--linkcolor: #79bde2;
	--linkcolor_hover: #5496b9;

	--btncolor: #13161a;
	--btncolor_hover: #191d21;

	--bgcolor: #0c0f12;
	--bgcolor_card: #13161a;

	--bordercolor: #0c0f12;

	--boxShadow: none;

	--quotationcolor: #789922;
}

@mixin user-select($value){
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import '_navigation.scss';
@import '_widgets.scss';
@import '_posts.scss';
@import '_scrollbar.scss';
@import '_musicPlayer.scss';
@import '_notifications.scss';

*{
	box-sizing: border-box;
}

body{
	background-color: var(--bgcolor);

	flex-direction: column;
	overflow-y: scroll;
	min-height: 100vh;
	display: flex;
	margin: 0;

	font: 15px/19px 'Noto Sans', sans-serif;
	color: var(--textcolor);

	.hidden{
		display: none;
	}
}

header{
	@include user-select(none);
	text-align: center;
	cursor: default;
	margin: 10px 0;

	#banner {
		font-weight: bold;
		line-height: 25px;
		font-size: 1.3em;

		margin-top: 10px;
		cursor: pointer;

		color: var(--textcolor);
	}

	a:not(#banner){
		color: var(--textcolor_secondary) !important;
		margin: 5px 15px;
		font-size: 0.9em;

		&:hover{
			opacity: 0.7
		}
	}
}

// Links
a, .pseudoLink, .tabs label{
	cursor: pointer;
	color: var(--linkcolor);
}

a{
	text-decoration: none;

	&:hover{
		color: var(--linkcolor_hover)
	}

	&:focus{
		outline: none;
	}
}

main{
	background-color: var(--bgcolor_card);
	box-shadow: var(--boxShadow);

	flex-direction: column;
	display: flex;
	z-index: 500;
}

// Buttons
.btn{
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 5px;
	// font: inherit;
	color: var(--textcolor) !important;
	transition: background-color .3s;
	background-color: var(--btncolor);
	/*border: 1px solid var(--bordercolor);*/
	border: none;

	cursor: pointer;
	@include user-select(none);

	&:hover{
		background-color: var(--btncolor_hover);
	}
}

[type="checkbox"]:checked + .btn{
	background-color: var(--btncolor_hover);
}

@media screen and (min-device-width: 415px) { // Desktop or tablet
	main{
		transition: margin .3s;
		margin-right: 55px;
		margin-left: 256px;

		padding: 15px;
	}
}

@media screen and (max-device-width: 414px) { // Mobile
	main{
		padding: 15px 0;
	}
}

.row, .column{
	display: flex;
}

.row{
	justify-content: space-between;
}

.column{
	flex-direction: column;
}

.visibleCheckbox{
	display: none;

	& + label{
		@include user-select(none);
		cursor: pointer;
	}

	& + label::before{
		font-family: 'Material Icons';
		content: 'check_box_outline_blank';

		vertical-align: middle;
		margin-right: 3px;
	}

	&:checked + label::before{
		content: 'check_box';
	}
}

input:not([type=file]), textarea{
	background: var(--bgcolor);
	color: var(--textcolor);

	border: none;

	// Фикс для Фаерфокса, который убирает плейсхолдер
	// при фокусировке на поле ввода
	&:focus::-moz-placeholder {
		color: transparent !important
	}
}

// Центрированный текст в текстовых полях
input:not([type=file]){
	text-align: center;
}

button, input, textarea{
	outline: none !important;
}

.tabs{
	@include user-select(none);

	label{
		padding: 5px 10px;
		background-color: var(--bgcolor_card);
	}

	& ~ [type="radio"] + div {
		display: none;
	}

	& ~ [type="radio"]:checked + div {
		display: flex;
	}
}


// Markup
span.quotation{
	color: var(--quotationcolor);
}
