@mixin user-select($value){
	user-select: $value;
	-ms-user-select: $value;
	-moz-user-select: $value;
	-webkit-user-select: $value;
}

@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: 'FontAwesome';
	src: url('../static/fontawesome-webfont.eot');
	src: url('../static/fontawesome-webfont.eot') format('embedded-opentype'), url('../static/fontawesome-webfont.woff2') format('woff2'), url('../static/fontawesome-webfont.woff') format('woff'), url('../static/fontawesome-webfont.ttf') format('truetype'), url('../static/fontawesome-webfont.svg') format('svg');
}

@import '_navigation.scss';
@import '_widgets.scss';
@import '_posts.scss';
@import '_home.scss';
@import '_scrollbar.scss';

body{
	color: var(--text_primary);
	background-color: var(--bg_secondary);

	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-y: scroll;

	font: 15px/17px Arial, sans-serif;

	div, main{
		box-sizing: border-box;
	}

	.hidden{
		display: none;
	}
}


// Board banner
header{
	margin: 10px 0;
	cursor: default;
	text-align: center;
	@include user-select(none);

	#banner {
		font-size: 1.3em;
		line-height: 25px;
		font-weight: bold;

		cursor: pointer;
		margin-top: 10px;

		@include user-select(none);

		color: var(--text_primary);
	}

	.row{
		justify-content: center;

		*{
			margin: 0 5px;
		}
	}
}

// Links
a, .pseudoLink, .tabs label{
	cursor: pointer;
	text-decoration: none;
	color: var(--link_primary);

	&:hover{
		color: var(--link_secondary)
	}
}

// Theme bootleg
:root{
	--text_primary: #e1efff;
	--text_secondary: #c1cedd;

	--link_primary: #79bde2;
	--link_secondary: #5496b9;

	--btn_primary: #141e27;
	--btn_secondary: #18252f;

	--bg_primary: #141e27;
	--bg_secondary: #10161f;

	--border_primary: #0e1a22;
	--border_secondary: #000;
}

main{
	z-index: 500;
	display: flex;
	flex-direction: column;
	background-color: var(--bg_primary);
	box-shadow: 0 0 15px -5px var(--border_secondary);
}

// Icons
.icon{
	cursor: pointer;

	&::before{
		font-family: 'FontAwesome';
	}

	&.catalogueLink::before{
		content: '\f0ce';
		padding-right: 5px;
	}

	&.archiveLink::before{
		content: '\f187';
		padding-right: 5px;
	}

	&.search::before{
		content: '\f002';
		font-size: .8em;
	}
}

// Buttons
.btn{
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 5px;
	font: inherit;
	color: var(--text_primary);
	transition: background-color .3s;
	background-color: var(--btn_primary);
	border: 1px solid var(--border_primary);

	cursor: pointer;
	@include user-select(none);

	&:hover{
		background-color: var(--btn_secondary);
	}
}

[type="checkbox"]:checked + .btn{
	background-color: var(--btn_secondary);
}

@media screen and (min-device-width: 415px) { // Desktop or tablet
	main{
		margin-left: 256px;

		width: calc(100vw - 256px - 70px);
		padding: 15px;

		transition: margin-left .3s, width .3s;
	}
}

@media screen and (max-device-width: 414px) { // Mobile
	main{
		padding: 15px 0;
	}
}

.row{
	display: flex;
	justify-content: space-between;
}

.column{
	display: flex;
	flex-direction: column;
}

.visibleCheckbox{
	& + label{
		@include user-select(none);
		cursor: pointer;
	}

	& + label::before{
		font-family: 'FontAwesome';
		padding-right: 5px;

		content: '\f096';
	}

	&:checked + label::before{
		content: '\f046';
	}
}

input{
	border: 1px solid var(--border_primary);
	color: var(--font_primary)
}

button, input{
	outline: none !important;
}


.tabs{
	@include user-select(none);

	display: flex;
	justify-content: space-around;
	background-color: var(--bg_secondary);

	label{
		padding: 5px 20px;
		background-color: var(--bg_primary);
	}

	& ~ [type="radio"] + div {
		display: none;
	}

	& ~ [type="radio"]:checked + div {
		display: flex;
	}
}
