$navBarHeight: 60px;

:root{
	--sidebarWidth: calc(100vw / 3 * 2 + 0.5 * var(--gap));
}

@import "_base";

html{
	overflow-x: hidden;
}

body{
	overflow-x: auto;
}

main{
	padding-bottom: calc(#{$navBarHeight} - .4em);
	width: 100vw;
}

.desktopOnly{
	display: none !important;
}

@import "_main";
@import "_defaultTheme";
@import "_posts";

.thread:not(:nth-last-child(2)){
	margin-bottom: calc(var(--gap) * 2);
}

.post{
	padding: var(--gap);
}

.postText{
	padding-top: 2px;
	padding-left: calc(var(--gap) / 2);
}

.postDetails{
	font-size: 1.1em;

	time{
		right: var(--gap)
	}
}

.thumbnails{
	& > a{
		div:first-child{
			max-height: 150px;
			max-width: 150px;

			&.missingThumbnail{
				width: 150px;
				height: 150px;
			}
		}

		div:not(:first-child){
			font-size: .9rem;
			opacity: .8;
		}
	}
}

.attachments a{
	margin: 1em 0;
}

.postCount{
	padding-left: var(--gap);
	padding-bottom: .25em
}

@import "_navbar";

#navbar{
	background-color: var(--backgroundColor);
	flex-direction: row;
	bottom: 0;
	z-index: 600;

	height: $navBarHeight;
	width: 100vw;

	& > div{
		width: 50%;
	}

	.btn{
		width: 100%;
	}
}

@import "_sidebar";
@import "_pagination";
@import "_notifications";
@import "_widgets";

.widgetBox{
	height: calc(100vh - #{$navBarHeight});
	width: 100vw;
}

#deletePosts{
	bottom: calc(#{$navBarHeight});
}

@import "_replyForm.scss";

#replyFormWrapper{
	width: 100vw;

	textarea{
		max-width: calc(var(--widgetMinWidth) - 2 * var(--gap));
		height: 7.5em;
	}

	#replyForm{
		grid-template-columns: var(--buttonWidth) var(--buttonWidth) 1fr var(--buttonWidth);
	}

	&.floating{
		bottom: calc(#{$navBarHeight} - var(--gap));
		border: var(--gap) solid var(--backgroundColor);
		left: 0;
	}

	.widgetHandle button{
		display: none;
	}
}

@import "_icons";