$navbarButtonsCount: 6;

@import "_base";

main{
	padding-bottom: calc(100vw / #{$navbarButtonsCount} + var(--gap));
	width: 100vw;
}

.desktopOnly{
	display: none !important;
}

@import "_main";
@import "_defaultTheme";
@import "_posts";

.post{
	padding: var(--gap);
}

.postText{
	padding-top: 2px;
	padding-left: calc(var(--gap) / 2);
}

.postDetails{
	font-size: 1.1em;

	time{
		right: var(--gap)
	}
}

.thumbnails{
	& > a{
		div:first-child{
			max-height: 150px;
			max-width: 150px;

			&.missingThumbnail{
				width: 150px;
				height: 150px;
			}
		}

		div:not(:first-child){
			font-size: .9rem;
			opacity: .8;
		}
	}
}

.attachments a{
	margin: 1em 0;
}

.postCount{
	padding-left: var(--gap);
	padding-bottom: .25em
}

@import "_navbar";

#navbar{
	background-color: var(--backgroundColor);
	bottom: 0;
	z-index: 600;

	width: 100vw;
	justify-content: center;

	.btn{
		margin: 0 calc(var(--gap) / 2);
		height: calc(100vw / #{$navbarButtonsCount} - var(--gap));
		width: calc(100vw / #{$navbarButtonsCount} - var(--gap));
	}
}

#sidebar{
	display: none;
}

@import "_pagination";

.widgetBox{
	height: calc(100vh - 100vw / #{$navbarButtonsCount} - var(--gap));
	width: 100vw;
}

#deletePosts{
	bottom: calc(100vw / #{$navbarButtonsCount} + var(--gap));
}

@import "_replyForm.scss";

#replyFormWrapper{
	width: 100vw;

	textarea{
		max-width: calc(var(--widgetMinWidth) - 2 * var(--gap));
		height: 7.5em;
	}

	#replyForm{
		grid-template-columns: var(--buttonWidth) var(--buttonWidth) 1fr var(--buttonWidth);
	}
}

@import "_icons";
