$navBarHeight: 60px;

:root{
	--sidebarWidth: calc(66.6vw + 0.5 * var(--gap));
}

@import "_defaultTheme";
@import "_base";

html{
	overflow-x: hidden;
}

body{
	font-size: 3.5vmin;
}

main{
	padding-bottom: calc(#{$navBarHeight} - .4em);
	width: 100vw;
}

.desktopOnly{
	display: none !important;
}

header a:not(#banner){
	font-size: 1.2em;
}

@import "_posts";
@import "_mobilePostsPatch";
@import "_navBar";

#navbar{
	background-color: var(--bgcolor);
	flex-direction: row;
	bottom: 0;

	height: $navBarHeight;
	width: 100vw;

	& > div{
		width: 50%;
	}

	.btn{
		font-size: 2em;
		width: 100%;
	}
}

@import "_sidebar";
@import "_notifications";
@import "_widgets";

.widgetBox{
	height: calc(100vh - #{$navBarHeight});
	width: 100vw;
}

@import "_replyForm.scss";

#replyForm{
	bottom: calc(#{$navBarHeight} - var(--gap));
	border: var(--gap) solid var(--bgcolor);
	width: 100vw;

	textarea{
		max-width: calc(var(--widgetMinWidth) - 2 * var(--gap));
		resize: none;
	}
}
