@import '_mixins.scss';
@import '_topbar.scss';
@import '_sidebar.scss';
@import '_scrollbar.scss';
@import '_wakabaMark.scss';
@import '_responsive.scss';

@font-face {
	font-style: normal;
	font-weight: normal;
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
}

/* Глобальные стили */
ul{
	list-style: none;
}

*{
	outline: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100vw;
	display: flex;
	min-height: 100vh;
	overflow-x: hidden;
	flex-direction: row;
	color: var(--text-color);
	@include font-smoothing();
	font: 15px/17px Arial, sans-serif;
	box-shadow: var(--body-box-shadow);
	background-color: var(--background-color);
	background-image: var(--background-image);
}

input[type="text"], textarea{
	color: inherit;
	font-size: 13px;
	background-color: var(--background-color);
}

input{
	font-size: 13px;
}

textarea{
	min-height: 100px;
}

/* Не показывать спрятанное. Достаточно просто */
.hidden{
	display: none;
}

/* Кнопки с иконками */
.actionIcon:before{
	cursor: pointer;
	font-size: inherit;
	text-rendering: auto;
	display: inline-block;
	@include fontAwesome();
	color: var(--text-color);
	&:hover{
		color: var(--link-hover-color);
	}
}

/* Ссылки */
a {
	cursor: pointer;
	pointer-events: all;
	text-decoration: none;
	color: var(--link-color);
	&:hover {
		text-decoration: underline;
		color: var(--link-hover-color);
	}
}

/* Основная колонка */
#mainColumn {
	min-width: 200px;
	position: absolute;
	transition: top var(--animation-duration), width var(--animation-duration), left var(--animation-duration);
	header{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Мамка в комнате */
#sfwCheckbox:checked + #sidebarCheckbox + #sidebar + #topbar + #mainColumn {
	--img-opacity: 0.1
}

/* Баннер раздела */
#banner {
	font-size: 2em;
	line-height: 30px;
	cursor: pointer;
	margin-top: 10px;
	font-weight: bold;
	user-select: none;
}

/* Блок ссылок в правом верхнем углу */
#rightTopCorner {
	top: 10px;
	right: 10px;
	display: flex;
	position: fixed;
	text-align: right;
	flex-direction: column;
	@include user-select(none);
	transition: opacity var(--animation-duration);
}

/* Кастомные чекбоксы */
.iconCheckbox{
	opacity: .5;
	cursor: pointer;
	@include user-select(none);
	&:before{
		font: normal normal normal 14px/1 FontAwesome;
	}
	&.checkbox:before{
		content: "\f0c8";
	}
	&.nsfw:before{
		content: "\f071";
	}
	&.menu:before{
		content: "\f0c9";
	}
	&.op:before{
		content: "\f007"
	}
	&.sage:before{
		content: "\f165"
	}
}

input:checked + .iconCheckbox, .checkbox, .menu{
	opacity: 1;
}

input:checked + .iconCheckbox.checkbox:before{
	content: "\f14a";
}

.actionIcon{
	&.help:before{
		content: "\f059"
	}
	&.close:before{
		content: "\f00d"
	}
	&.delete:before{
		content: "\f014";
	}
	&.sage:before{
		content: "\f165"
	}
	&.source:before{
		content: "\f0f6";
	}
	&.spoil:before{
		content: "\f070";
	}
	&.edit:before{
		content: "\f040";
	}
	&.reply:before{
		content: "\f112";
	}
}

input:checked + .menu:before{
	color: var(--link-color);
}

/* ??? !!! */
input[type='file']{
	cursor: pointer;
}

div.column{
	display: flex;
	flex-direction: column;
}

div.row{
	display: flex;
	flex-direction: row;
}

/* Кнопочки */
button{
	height: 25px;
	padding: 3px;
	color: var(--text-color);
	border-radius: var(--border-radius);
	background-color: var(--header-color);
	border: 1px solid var(--background-color);
	&:active{
		background-color: var(--background-color);
	}
}

.widget{
	display: none;
}
