@keyframes mascotIdle {
  95% { background-position: -1140px; }
  0%, 100% { background-position: -1330px; }
}

@keyframes mascotTalk {
  50% { background-position: -1520px; }
  0%, 100% { background-position: -1330px; }
}

#mascotCheckbox:checked + #mascot{
	background-position: -1330px;
}

#mascot{
	right: 20px;
	width: 190px;
	bottom: 20px;
	height: 176px;
	display: block;
	cursor: pointer;
	position: fixed;
	@include zoom(.7);
	background-position: 0px;
	@include user-select(none);
	background-image: url(../img/mascot.png);
	transition: background-position .6s steps(7);
	&.idle{
		transition: none;
		background-position: -1330px;
		animation: mascotIdle 4s steps(1) infinite;
	}
}
