@mixin user-select($value){
	user-select: $value;
	-ms-user-select: $value;
	-moz-user-select: $value;
	-webkit-user-select: $value;
}

@mixin zoom($value) {
	zoom: $value;
	-ms-zoom: $value;
	-webkit-zoom: $value;
	-moz-transform-origin: right bottom;
	-moz-transform: scale($value, $value);
}

@mixin font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin fontAwesome() {
	font: normal normal normal 14px/1 FontAwesome;
}
