@media screen and (min-width: 980px) /* Desktop */ {
	#replyForm textarea{
		max-width: calc(100vw - 685px);
	}
}

@media screen and (max-width: 979px) /* Tablet */ {
	#replyForm textarea{
		max-width: calc(100vw - 465px);
	}
}

#replyForm .row {
	width: inherit;
	align-items: center;
	justify-content: space-between;
}

#replyForm .column {
	justify-content: space-between;
	&:first-child{
		margin: 5px;
		min-width: 300px;
	}
	&:nth-child(2){
		max-width: 0;
		min-width: 0;
		margin: 5px 0;
		overflow: hidden;
		justify-content: flex-start;
		transition: margin var(--animation-duration), max-width var(--animation-duration);
		& > *:not(:first-child) {
			margin-top: 3px;
		}
	}
	&:last-child{
		margin: 0;
		justify-content: center;
	}
}

label[for="replyFormShow"]{
	font-size: 1em;
	color: var(--link-color);
	cursor: pointer;
	@include user-select(none);
}

#replyFormExpand:checked {
	& + input + label + #replyForm{
		& [for="replyFormExpand"]:before{
			content: "\f053";
		}
		& .column:nth-child(2){
			max-width: 200px;
			min-width: 200px;
		}
	}
}

#replyForm{
	opacity: 0;
	max-height: 0;
	display: flex;
	overflow: hidden;
	border-radius: var(--border-radius);
	background-color: var(--foreground-color);
	background-image: var(--foreground-image);
	transition: max-height var(--animation-duration), opacity var(--animation-duration);
	textarea{
		resize: both;
		height: 100%;
		min-width: 300px;
		margin-bottom: 5px;
		border-color: transparent;
		border-radius: var(--border-radius);
	}
	input:not([type='checkbox']){
		width: 100%;
		text-align: center;
		height: 20px;
		border-color: transparent;
		border-radius: var(--border-radius);
	}
	.iconCheckbox{
		color: var(--link-color);
	}
	.boxContent{
		padding: 0;
	}
	.boxHandle{
		display: none;
	}
}

input:checked + label + #replyForm{
	opacity: 1;
	max-height: 100vh;
}

#sidebarCheckbox:checked + #sidebar + #mainColumn #replyForm textarea{
	max-width: calc(100vw - 255px);
}

/* Кнопка отправки */
#replyForm button{
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	color: var(--text-color);
	border-radius: var(--border-radius);
	background-color: var(--header-color);
	border: 1px solid var(--background-color);
	&:before{
		content: "\f1d8" ' ';
		font: normal normal normal 14px/1 FontAwesome;
	}
	&:active{
		background-color: var(--foreground-color);
	}
}

.actionIcon.help{
	cursor: pointer;
	color: var(--text-color)
}

/* Кнопка раскрытия доп. опций */
[for="replyFormExpand"]{
	width: 100%;
	height: 100%;
	padding: 5px;
	&:before{
		height: 100%;
		display: flex;
		content: "\f054";
		align-items: center;
		justify-content: center;
	}
}

/* Кнопки прикрепления файлов */
#dropZone{
	left: 0;
	top: 20px;
	opacity: 0;
	width: 100%;
	z-index: 1488;
	position: absolute;
	text-align: center;
	pointer-events: none;
	background-size: contain;
	height: calc(100% - 20px);
	border: 2px dashed var(--text-color);
	background-color: var(--foreground-color);
	transition: opacity var(--animation-duration);
	&:before{
		top: 49%;
		content: "\f093";
		position: absolute;
		@include fontAwesome();
	}
	&.shown{
		opacity: 1;
		pointer-events: auto;
	}
	&.koakuma{
		background-color: white;
		background-position: center;
		background-repeat: no-repeat;
		border-color: var(--foreground-color);
		background-image: url(../img/dropTheBomb.gif);
		&:before{
			content: none;
		}
	}
}

#replyForm input[type="file"]{
	display: none;
}

#replyForm input[type="file"] + label{
	width: 100%;
	display: flex;
	cursor: pointer;
	.thumb{
		top: -2px;
		left: -2px;
		width: 50px;
		height: 50px;
		display: flex;
		font-size: 15px;
		position: absolute;
		align-items: flex-end;
		justify-content: center;
		border-radius: var(--border-radius);
		border: 1px solid var(--text-color);
		background-color: var(--header-color);
	}
	.uploadButton{
		width: 50px;
		height: 50px;
		position: relative;
		border-radius: var(--border-radius);
		border: 2px dashed var(--text-color);
		&:before{
			top: 12px;
			left: 12px;
			font-size: 25px;
			content: "\f093";
			position: absolute;
		}
	}
	.fileName{
		margin: 0 auto;
		overflow: hidden;
		padding: 17px 3px;
	}
}


#replyForm i.delete{
	margin-right: 8px;
}
