@media (min-width: 1025px) {
  #sidebar{
    left: 0;
  }
  #topbar{
    top: -25px;
  }
  #mainColumn{
    top: 0;
    left: 210px;
    width: calc(100vw - 420px);
  }
  #rightTopCorner{
    opacity: 1;
  }
  #mascot{
    display: block;
  }
}

@media (max-width: 1024px) {
  #sidebar{
    left: -210px;
  }
  #topbar{
    top: 0;
  }
  #mainColumn{
    top: 25px;
    left: 10px;
    width: calc(100vw - 30px);
  }
  #rightTopCorner{
    opacity: 0;
  }
  #toggleSidebar{
    display: none;
  }
  #mascot{
    display: none;
  }
}

@media (max-width: 400px) {
  .post{
    flex-direction: column;
  }
}

#sidebarCheckbox:checked + #sidebar{
  left: -210px;
  & + #topbar{
    top: 0;
    & + #mainColumn{
      top: 25px;
      left: 10px;
      right: 10px;
      width: calc(100vw - 20px);
      & + #rightTopCorner{
        opacity: 0;
      }
    }
  }
}
