/*body, [data-theme='tumbach']{
	--theme-name: 'Tumbach';
	--text-color: #e1efff;
	--link-color: #79bde2;
	--link-hover-color: #5496b9;
	--background-color: #10161f;
	--foreground-color: #141e27;
	--header-color: #18252f;
	--background-image: none;
	--foreground-image: none;
	--animation-duration: .3s;
	--sidebar-color: var(--foreground-color);
	--sidebar-image: var(--foreground-image);
	--body-box-shadow: none;
}

[data-theme='tumbachLight']{
	--theme-name: 'Tumbach Light';
	--text-color: #000;
	--link-color: #08F;
	--link-hover-color: #038;
	--background-color: #fff;
	--foreground-color: #ccecf4;
	--header-color: #b2e2ee;
}

[data-theme='proton']{
	--theme-name: 'Proton';
	--text-color: #000;
	--link-color: #F60;
	--link-hover-color: #06F;
	--background-color: #eee;
	--foreground-color: #ddd;
	--header-color: #ccc;
}

[data-theme='futaba']{
	--theme-name: 'Futaba';
	--text-color: #800000;
	--link-color: #0000EE;
	--link-hover-color: #DD0000;
	--background-color: #FFFFEE;
	--foreground-color: #F0E0D6;
	--header-color: #EEAA88;
}

[data-theme='brchan']{
	--theme-name: 'Brchan';
	--text-color: #000;
	--link-color: #34345C;
	--link-hover-color: red;
	--background-color: #B3C87F;
	--foreground-color: #fff263;
	--header-color: #fff263;
	--background-image: url(https://tumba.ch/img/custom/jungle_bg.png);
	--foreground-image: url(https://tumba.ch/img/custom/jungle_td.png);
}

[data-theme='myata']{
	--theme-name: 'Myata';
	--text-color: #dedede;
	--link-color: #37c999;
	--link-hover-color: white;
	--background-color: black;
	--foreground-color: rgba(51, 70, 78, .9);
	--header-color: #454f5f;
	--background-image: url(./img/myata.png);
	--sidebar-color: none;
}
*/
