#topbar{
	height: 25px;
	padding: 4px;
	width: 100vw;
	display: flex;
	z-index: 665;
	position: fixed;
	justify-content: center;
	@include user-select(none);
	background-color: var(--sidebar-color);
	background-image: var(--sidebar-image);
	transition: top var(--animation-duration);
	a{
		margin: 0 5px;
	}
	#progressBar{
		left: 0;
		width: 0vw;
		height: 2px;
		opacity: .7;
		bottom: -2px;
		z-index: 667;
		position: absolute;
		background-color: var(--link-color);
		transition: width var(--animation-duration);
	}
}
