@import '_global.scss';
@import '_replyForm.scss';

.thread{
	max-height: calc(420px * 4);
	transition-duration: var(--animation-duration);
}

.thread, .postWrapper{
	overflow: hidden;
	&.spoiled{
		max-height: 21px;
		.postDetails{
			border-radius: var(--border-radius);
			background-color: var(--foreground-color);
			background-image: var(--foreground-image);
		}
	}
}

.postWrapper{
	max-height: 420px;
	border: 1px solid var(--background-color);
	transition: max-height var(--animation-duration);
	.postText{
		margin: 0 5px;
		a{
			position: relative;
		}
	}
	&.floating{
		display: none;
		position: absolute;
		color: var(--text-color);
		background-color: var(--foreground-color);
		background-image: var(--foreground-image);
		width: calc(100vw - 420px);
		.postText{
			margin: 5px;
		}
		.postDetails{
			cursor: default;
			padding-top: 3px;
			border-radius: inherit;
			background-color: var(--header-color);
		}
	}
	a:hover > &.floating{
		top: 10px;
		left: 10px;
		display: block;
	}
	&:first-child .postMedia a:last-child{
		border-bottom-left-radius: var(--border-radius);
	}
	&:not(:first-child){
		margin-left: 15px;
		background-color: var(--foreground-color);
		background-image: var(--foreground-image);
		.postText{
			margin: 5px;
		}
		.postDetails{
			cursor: default;
			border-radius: inherit;
			background-color: var(--header-color);
		}
	}
	&:nth-child(2) {
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
	}
	&:last-child {
		border-bottom-left-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
	}
}

.post{
	display: flex;
}

.postReplies{
	opacity: .9;
	margin-top: 7px;
	font-size: 0.8em;
}

/* Шапка поста */
.postDetails{
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.info{
		padding: 0 5px;
		cursor: default;
		@include user-select(none);
		.sage:before{
			cursor: default;
		}
		.topic{
			font-weight: bold;
			color: var(--link-color);
		}
		.author{
			color: var(--link-color);
		}
	}
	.postMenu{
		padding: 0 5px;
		& > .actionIcon:before{
			height: 15px;
			width: 15px;
		}
	}
}

/* Прикрепления поста */
.postMedia{
	position: relative;
	@include user-select(none);
	a{
		position: relative;
	}
	a:hover{
		.imgInfo{
			height: 17px;
		}
		.preview{
			opacity: 1;
		}
	}
	a:last-child{
		border-bottom-left-radius: inherit;
	}
	.preview{
		max-width: 200px;
		max-height: 200px;
		transition: opacity .1s;
		opacity: var(--img-opacity);
		border-bottom-left-radius: inherit;
	}
}

.postMedia .imgInfo{
	bottom: 3px;
	height: 0px;
	width: 100%;
	font-size: .9em;
	overflow: hidden;
	position: absolute;
	text-align: center;
	transition-duration: .1s;
	color: var(--text-color);
	border-bottom-left-radius: inherit;
	background: var(--foreground-color);
}

#banner{
	color: var(--text-color);
	&:hover{
		text-decoration: none;
	}
}
