@import '_global.scss';

#meguka{
	max-width: 50vw;
	max-height: 50vh;
}

#mainColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	div:nth-child(2){
		font-size: 1.5em;
		padding: 10px;
	}
}
