@keyframes notification {
	from {margin-top: -50px}
	to {margin-top: 5px}
}

#notificationFlow{
	top: 10px;
	right: 10px;
	display: flex;
	position: fixed;
	flex-direction: column-reverse;
}

.notification{
	width: 200px;
	height: 50px;
	padding: 5px;
	display: flex;
	margin-top: 5px;
	z-index: 99999999;
	text-align: center;
	align-items: center;
	justify-content: center;
	animation-name: notification;
	border-radius: var(--border-radius);
	background-color: var(--foreground-color);
	animation-duration: var(--animation-duration);
	&.error{
		background-color: red;
	}
	&.success{
		background-color: green;
	}
}
