@import '../fonts/font-awesome.min.css';
@import 'board.css';
@import 'main.css';
@import 'menu.css';
@import 'post.css';
@import 'postform.css';
@import 'sidebar.css';
@import 'toolbar.css';

* { box-sizing: border-box; position: relative; }
html, body { margin: 0; min-height: 100vh; }
menu, dir, hr { margin: 0; padding: 0; }
h1, h2, h3 { margin: .1em 0; padding: 0; }
.fa { padding: 2px; font-size: 14px }
.js-only { display: none }
textarea { display: block !important }

.align-child {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom:1
}
.align-helper {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
  zoom:1
}

.float-l { float: left }
.float-r { float: right }
.clr { clear: both }

.disabled_opacity { opacity: .54 }
