:root {
  --footer-height: 40px;
}

main {
  position: absolute;
  top: 0;
  left: 210px;
  width: calc(100% - 210px);
  min-height: 100%;
  padding-bottom: var(--footer-height);
}

main > * {
  padding: 10px 24px;
}

main .nopad, main hr {
  padding: 0
}

main .actions {
  padding-bottom: 0
}

main .stats {
  margin-top: .42em;
  text-align: right;
  line-height: 20px;
}

.nav {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 0;
  z-index: 90;
}

.nav .button_nav {
  opacity: .42;
}

.nav .button_nav > i {
  font-size: 42px;
}

.nav .button_nav:hover {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 0;
  height: var(--footer-height);
}