.content > div {
  display: none;
}

.radio-menu input[type=radio] {
  display: none;
}

.radio-menu .tab {
  letter-spacing: -0.3em;
}

.radio-menu .tab label {
  padding: 10px;
  display: inline-block;
  letter-spacing: normal;
  cursor: pointer;
}

.radio-menu .content {
  padding: 10px;
}

.radio-menu input[type=radio]:nth-child(1):checked ~ .content div:nth-child(1),
.radio-menu input[type=radio]:nth-child(2):checked ~ .content div:nth-child(2),
.radio-menu input[type=radio]:nth-child(3):checked ~ .content div:nth-child(3),
.radio-menu input[type=radio]:nth-child(4):checked ~ .content div:nth-child(4) {
  display: block;
}
