#post-form {
  max-width: 100%
}

.post-form-container {
  padding: 0 24px
}

.post-form-row:not(.post-form-textarea-container) {
  width: 0;
  min-width: 100%;
}
.post-form-row:empty {
  display: none;
}

.post-form-input, #post-form textarea {
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

[name=nodeCaptchaResponse] {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.symbol-counter-container, .post-form-options, #captcha {
  margin: 0 !important; /* NOTE: Fixing extra space */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
